@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        /*background-color: #f7f7f7;*/
        /*background-image: linear-gradient(90deg, white 10%, #009CE4 80%);*/
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a {
            margin-left: 1.5rem;
        }

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    /* background-image: linear-gradient(180deg, #00244c 0%, #003d7f 80%); */
    /* background-image: linear-gradient(180deg, #422562 0%, #5F368D 80%);*/
    background-image: linear-gradient(120deg, white 35%, #009CE4 80%);
}

    .sidebar .top-row {
        background-color: white;
        /*background-image: linear-gradient(90deg, #009CE4 0%, #ffffff 5%);*/
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        color: #009CE4;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

h1 {
    margin-bottom: 2rem;
}

.tabs {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

    .tabs a {
        /*color: black !important;*/
    }

.active {
    font-weight: bold;
}



#vmenu .nav-item:first-of-type {
    padding-top: 0.1em;
}

#vmenu .nav-item:last-of-type {
    padding-bottom: 0.5em;
}

#vmenu .nav-item a {
    color: black;
    /*border-radius: 4px;*/
    /*height: 3rem;*/
    display: flex;
    align-items: center;
    /*line-height: 3rem;*/
}

    #vmenu .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: black;
    }
nav-link > active::after {
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "xxx";
    display: inline-block;
    position: absolute;
    right: -1px;
    top: 8px;
}

    #vmenu .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: gray;
    }


.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.Chart {
    height: 540px;
}

.dx-chart-parts {
    flex-wrap: nowrap !important;
}

.dx-chart-legend-item, .dx-chart-legend-item .custom-control-label {
    white-space: nowrap;
}

@keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.white {
    color: white;
}

.ticker-small {
    font-size: 0.9em;
    margin-right: 2px;
    padding: 4px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #6dd5fa, #ffffff);
    white-space: nowrap;
}

.ticker-large {
    font-size: 0.9em;
    margin-right: 2px;
    padding: 4px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #fa6dd5, #ffffff);
    white-space: nowrap;
}

.table td, .table th {
    padding: 0.25em !important;
    font-size: 0.9em;
}

.DarkTurquoise {
    color: DarkTurquoise;
}

.dxbs-gridview > div > .dxbs-grid-vsd {
    height: 500px !important;
}
