﻿@page "/eventLog"


@using B1.Data.Services

@using zCache


@inject Blazored.LocalStorage.ILocalStorageService localStorage


<h1>Event Log</h1>



@if (events == null)
{
    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Patience is a virtue
    </p>

}
else
{
    <DxDataGrid Data="@events"
                KeyFieldName="Timestamp"
                ShowFilterRow="true"
                DataNavigationMode="@DataGridNavigationMode.VirtualScrolling"
                ShowGroupPanel="false"
                SelectionMode="DataGridSelectionMode.MultipleSelectedDataRows"
                @bind-MultipleSelectedDataRows="@SelectedLoans"
                
                LayoutChanged="OnLayoutChanged"
                LayoutRestoring="OnLayoutRestoring"

                PageSize="25">

        <DxDataGridColumn Field="@nameof(EventLogItem.Timestamp)" Width="100px" TextAlignment="@DataGridTextAlign.Left" SortIndex="1" SortOrder="DataGridColumnSortOrder.Descending">
            <DisplayTemplate>
                @(((context as EventLogItem).Timestamp.ToString("dd MMM HH:mm:ss")))
            </DisplayTemplate>

        </DxDataGridColumn>

        <DxDataGridColumn Field="@nameof(EventLogItem.Level)" Width="100px"></DxDataGridColumn>
        <DxDataGridColumn Field="@nameof(EventLogItem.Source)" Width="400px"></DxDataGridColumn>
        <DxDataGridColumn Field="@nameof(EventLogItem.Message)">
            <DisplayTemplate>
                <span style="white-space: pre-wrap">@((context as EventLogItem).Message)</span>
            </DisplayTemplate>


        </DxDataGridColumn>


    </DxDataGrid>


}

@code {

    //IEnumerable<LoanViewModel> selectedLoan;

    public IEnumerable<EventLogItem> SelectedLoans { get; set; }
    //{
    //    get { return selectedLoan; }
    //    set{selectedLoan = value;}
    //}


    IEnumerable<EventLogItem> events = null;
    string layout;



    protected override async Task OnInitializedAsync()
    {
        events = MyObjects.Cache.GetObjects<EventLogItem>();
        await InvokeAsync(StateHasChanged);
    }

    private async void OnLayoutChanged(IDataGridLayout e)
    {
        try
        {
            await localStorage.SetItemAsync("EventLogLayout", e.SaveLayout());
        }
        catch { }
    }

    private void OnLayoutRestoring(IDataGridLayout e)
    {

        try
        {
            if (!String.IsNullOrEmpty(layout)) e.LoadLayout(layout);
        }
        catch { }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            layout = (await localStorage.GetItemAsync<object>("EventLogLayout"))?.ToString();
        }
        catch
        {
            await localStorage.RemoveItemAsync("EventLogLayout");
        }
    }
}
