﻿@page "/"
@using B1.Data.Services
@inject LoanDataServiceCache DataCache

<h1>Loans 2 Go realtime reporting app*</h1>
<p>
    *This is an experimental app not to be used for official business.
</p>
@if (!DataCache.LoanApplications.Any())
{
    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Loading Loan Applications
    </p>
}
else if (!DataCache.Loans.Any())
{
    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Loading Loans
    </p>
}


@code {
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataCache.NewLoanApplicationsAdded += (s, ev) => { InvokeAsync(StateHasChanged); };
        DataCache.NewLoansAdded += (s, ev) => { InvokeAsync(StateHasChanged); };

    }


}