﻿@page "/loanApplicationsLastFewHours"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>@Title</h1>
<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">
        <label style="padding: 0.5em">Period </label>
    </div>

    <div class="justify-content-start">
        <DxComboBox Data="@(new List<int>(){1, 2, 3, 4, 5, 6})"
                    NullText="Select option ..."
                    Value="@Option"
                    ValueChanged="@((int y) => SelectedYearChanged(y))">
        </DxComboBox>
    </div>

    <div class="justify-content-start">
        <label style="padding: 0.5em"> hour(s)</label>
    </div>
    <div class="flex-grow-1">
        &nbsp;
    </div>

    <div class="justify-content-end">
        @*<DxButton Click="@OnClick" Text=" Hide all "></DxButton>*@
        @*<a href="javascript: $('input:checkbox').removeAttr('checked');">Clear all</a>*@
    </div>

</div>


@if (LoanApplicationsPerMinutePerSource == null || !LoanApplicationsPerMinutePerSource.Any())
{
    <p><em>Loading...</em></p>
}
else
{

    <DxChart Data=@LoanApplicationsPerMinutePerSource CssClass="Chart">

        <DxChartValueAxis Name="CountAxis"
                          Position="@HorizontalEdge.Left" />

        @foreach (var src in LoanApplicationsPerMinutePerSource
                          .GroupBy(l => l.Source)
                          .OrderByDescending(g => g.Average(l => l.Count))
                          .Select(g => g.Key))
        {
            <DxChartStackedBarSeries Name=@src
                                     Filter=@((LoanApplicationsCountViewModel s) => s.Source == src)
                                     ArgumentField=@(s => s.Timestamp.ToString("HH:mm"))
                                     ValueField=@(s => s.Count)
                                     Axis="CountAxis" />
        }

        <DxChartLegend AllowToggleSeries="true"
                       Position=@RelativePosition.Outside
                       Orientation="@Orientation.Vertical"
                       HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>

    <br />
    <hr />
    <br />

    <DxChart Data=@LoanApplicationsPerMinutePerSource CssClass="Chart">

        <DxChartValueAxis Name="CountAxis"
                          Position="@HorizontalEdge.Left" />

        @*<DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Right">
                <DxChartAxisTitle Text="Total Count"></DxChartAxisTitle>
            </DxChartValueAxis>*@

        @foreach (var src in LoanApplicationsPerMinutePerSource
                                  .GroupBy(l => l.Source)
                                  .OrderByDescending(g => g.Average(l => l.Count))
                                  .Select(g => g.Key))
        {
            <DxChartFullStackedSplineAreaSeries Name=@src
                                                Filter=@((LoanApplicationsCountViewModel s) => s.Source == src)
                                                ArgumentField=@(s => s.Timestamp.ToString("HH:mm"))
                                                ValueField=@(s => s.Count)
                                                Axis="CountAxis" />
        }

        @*<DxChartSplineSeries Name="Total" AggregationMethod="@Enumerable.Sum" ArgumentField=@((LoanApplicationsCountViewModel s) => s.Timestamp.ToString("HH:mm")) ValueField="@(s => s.Count)" Axis="TotalAxis" Color="System.Drawing.Color.Yellow" />*@

        <DxChartLegend AllowToggleSeries="true"
                       Position=@RelativePosition.Outside
                       Orientation="@Orientation.Vertical"
                       HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>

}

@implements IDisposable
@code {

    private List<LoanApplicationsCountViewModel> LoanApplicationsPerMinutePerSource = new List<LoanApplicationsCountViewModel>();

    private string Title = "Loan applications per source";

    private int Option = 1;

    System.Timers.Timer timer = new System.Timers.Timer();

    bool allSeriesVisible;

    protected void OnClick(MouseEventArgs args)
    {
        allSeriesVisible = false;
        InvokeAsync(StateHasChanged);

    }

    protected override async Task OnInitializedAsync()
    {
        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 10) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;

        pointSettings.PointLabel.Visible = true;

        //if (pointSettings.Point.SeriesName == "Count")
        //{
        pointSettings.PointLabel.BackgroundColor = System.Drawing.Color.Gray;
        //}

    }

    private async Task Refresh()
    {
        LoanApplicationsPerMinutePerSource = LoanService.GetLoanApplicationsPerMinutePerSource(DataCache.LoanApllicationsDataClone, Option * 60);
        
        //LoanService.UpdateLoanApplicationsPerMinutePerSource(DataCache.LoanApplications, Option * 60, ref LoanApplicationsPerMinutePerSource);

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    void SelectedYearChanged(int opt)
    {
        Option = opt;
        Task.Run(async () => await Refresh());
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

}

