﻿@page "/loansChartsPerLoanSize"

@using B1.Data.ViewModels
@using B1.Data.Services
@inject LoanDataService LoanService

<h1>Unsecured Personal Loans</h1>


<div class="d-flex" style="width: 200px">
    <div class="justify-content-start">
        <label style="padding: 0.5em">Year </label>
    </div>

    <div class="flex-grow-1">
        <DxComboBox Data="@Years"
                    NullText="Select Year ..."
                    Value="@Option"
                    ValueChanged="@((string y) => SelectedYearChanged(y))">
        </DxComboBox>
    </div>
</div>


@if (ChartData == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <DxChart Data=@ChartData>

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="Total Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartBarSeries Name="Amount Loaned" Filter=@((LoanChartPerSizeViewModel s) => s.Size > 0) ArgumentField=@(s => s.Size.ToString("#,0")) ValueField=@(s => s.LoansAmountOut) />
        <DxChartBarSeries Name="Amount Collected" Filter=@((LoanChartPerSizeViewModel s) => s.Size > 0) ArgumentField=@(s => s.Size.ToString("#,0")) ValueField=@(s => s.LoansAmountIn) />

        <DxChartLineSeries Name="Count" Filter=@((LoanChartPerSizeViewModel s) => s.Size > 0) ArgumentField=@(s => s.Size.ToString("#,0")) ValueField=@(s => s.LoansCount) Axis="CountAxis" />

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>

    <DxChart Data=@ChartData>

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="Total Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="PercentAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Percent Repayed"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartBarSeries Name="P&L" Filter=@((LoanChartPerSizeViewModel s) => s.Size > 0) ArgumentField=@(s => s.Size.ToString("#,0")) ValueField=@(s =>  s.LoansAmountIn - s.LoansAmountOut) />
        <DxChartLineSeries Name="Return" Filter=@((LoanChartPerSizeViewModel s) => s.Size > 0) ArgumentField=@(s => s.Size.ToString("#,0")) ValueField=@(s =>  (s.LoansAmountIn / s.LoansAmountOut) * 100) Axis="PercentAxis"/>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>

}
@code {

    List<string> Years = new List<string>();


    string Option;






    private IEnumerable<LoanChartPerSizeViewModel> ChartData;

    protected override void OnInitialized()
    {
        for (int y = 0; y < 10; y++)
        {
            Years.Add((DateTime.Now.Year - y).ToString());
        }


        SelectedYearChanged(Years.First());

        //ChartData = LoanService.GetLoansPerLoanSize(new DateTime(Convert.ToInt32(year), 1, 1));

        //var x = 0;
    }

    void SelectedYearChanged(string year)
    {
        Option = year;

        ChartData = null;
        InvokeAsync(StateHasChanged);


        Task.Run(() =>
        {
            ChartData = LoanService.GetLoansPerLoanSize(Convert.ToInt32(year));
            InvokeAsync(StateHasChanged);
        });

    }

}
