﻿@page "/loanApplicationsState"

@using B1.Data.ViewModels
@using B1.Data.Services
@using zCache


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache
<style>
</style>
<h1>@Title</h1>
<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">



        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
            @foreach (var opt in LoanService.LoanApplicationStates)
            {
            <DxTab Text="@(((LoanApplicationStateType)opt).ToString())" CssClass="tabs"></DxTab>
            }
        </DxTabs>

    </div>

    <div class="flex-grow-1">
        &nbsp;
    </div>

    <div class="justify-content-end">
        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndexShow">
            <DxTab Text="%" CssClass="tabs"></DxTab>
            <DxTab Text="#" CssClass="tabs"></DxTab>
        </DxTabs>
    </div>

    <div class="justify-content-end">
        <DxButton Click="@OnClick" Text="Refresh"></DxButton>
    </div>

</div>

@if (ActiveTabIndex < 0)
{
<p style="padding: 2em"><em>Select a state...</em></p>
}

else if (LoanApplicationsSuccessRatesPerSource == null)
{
<p style="text-align: center; padding: 2em">
    <img src="/image/loading.gif" /><br />Patience is a virtue
</p>
}
else
{
    if (ActiveTabIndexShow == 0)
    {
<DxChart Data=@LoanApplicationsSuccessRatesPerSource CustomizeSeriesPoint="@PreparePointLabel" CssClass="Chart">

    <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Left">
        <DxChartAxisTitle Text="@(LoanService.LoanApplicationStates[ActiveTabIndex].ToString() + " %")" />
    </DxChartValueAxis>

    @foreach (var src in LoanApplicationsSuccessRatesPerSource
                                           .GroupBy(l => l.Source)
                                           .OrderByDescending(g => g.Sum(l => l.Count))
                                           .Select(g => g.Key).Take(6))
            {

    <DxChartLineSeries Name=@src
                       Filter=@((LoanApplicationsCountViewModel s) => s.Source == src)
                       ArgumentField=@(s => s.Timestamp.ToString("ddd, d MMM yy"))
                       ValueField=@(s => s.StateRate)
                       Axis="CountAxis"
                       Visible="@(LoanApplicationsSuccessRatesPerSource
                                    .GroupBy(l => l.Source)
                                    .OrderByDescending(g => g.Sum(l => l.Count))
                                    .Select(g => g.Key).Take(3).Contains(src))" />
            }

    <DxChartLegend AllowToggleSeries="true"
                   Position=@RelativePosition.Outside
                   Orientation="@Orientation.Vertical"
                   HorizontalAlignment=@HorizontalAlignment.Right />

    @*<DxChartTooltip>
            <span class="p-3"><b>@context.Point.SeriesName</b>, @context.Point.Argument, @(Convert.ToDecimal(context.Point.Value).ToString("0.00"))%</span>
        </DxChartTooltip>*@


</DxChart>
    }
    else
    {
<DxChart Data=@LoanApplicationsSuccessRatesPerSource CustomizeSeriesPoint="@PreparePointLabel" CssClass="Chart">

    <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Left">
        <DxChartAxisTitle Text="@LoanService.LoanApplicationStates[ActiveTabIndex].ToString()" />
    </DxChartValueAxis>

    @foreach (var src in LoanApplicationsSuccessRatesPerSource
                                           .GroupBy(l => l.Source)
                                           .OrderByDescending(g => g.Sum(l => l.Count))
                                           .Select(g => g.Key).Take(6))
            {
    <DxChartLineSeries Name=@src
                       Filter=@((LoanApplicationsCountViewModel s) => s.Source == src)
                       ArgumentField=@(s => s.Timestamp.ToString("ddd, d MMM yy"))
                       ValueField=@(s => s.Count)
                       Axis="CountAxis"
                       Visible="@(LoanApplicationsSuccessRatesPerSource
                                        .GroupBy(l => l.Source)
                                        .OrderByDescending(g => g.Sum(l => l.Count))
                                        .Select(g => g.Key).Take(3).Contains(src))" />

            }

    <DxChartLegend AllowToggleSeries="true"
                   Position=@RelativePosition.Outside
                   Orientation="@Orientation.Vertical"
                   HorizontalAlignment=@HorizontalAlignment.Right />

    @*<DxChartTooltip>
            <span class="p-3"><b>@context.Point.SeriesName</b>, @context.Point.Argument, @(Convert.ToDecimal(context.Point.Value).ToString("#,##0"))</span>
        </DxChartTooltip>*@


</DxChart>
    }


}

@code {

    private List<LoanApplicationsCountViewModel> LoanApplicationsSuccessRatesPerSource;

    private string Title = "Loan applications state per date and source";


    private int stateOption = 9;

    int activeTabIndex = -1;
    int ActiveTabIndex
    {
        get => activeTabIndex;
        set
        {
            activeTabIndex = value;

            stateOption = (int)LoanService.LoanApplicationStates[activeTabIndex];

            Task.Run(async () => await Refresh());

        }
    }

    int activeTabIndexShow = 0;
    int ActiveTabIndexShow
    {
        get => activeTabIndexShow;
        set
        {
            activeTabIndexShow = value;

            InvokeAsync(StateHasChanged).ConfigureAwait(false);
        }
    }
    protected void OnClick(MouseEventArgs args)
    {
        MyObjects.Cache.ClearAll();

        Task.Run(async () => await Refresh());

    }

    protected override async Task OnInitializedAsync()
    {

        //await Refresh();

        await base.OnInitializedAsync();
    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        DateTime value = Convert.ToDateTime(pointSettings.Point.Argument);

        //pointSettings.PointLabel.Visible = true;

        if (value.DayOfWeek == DayOfWeek.Sunday)
        {
            pointSettings.PointAppearance.Symbol = ChartPointSymbol.Square;
            //pointSettings.PointAppearance.Color = System.Drawing.Color.FromArgb(pointSettings.PointAppearance.Color.B, pointSettings.PointAppearance.Color.G, pointSettings.PointAppearance.Color.R);
        }

    }

    private async Task Refresh()
    {

        LoanApplicationsSuccessRatesPerSource = null;

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);

        LoanApplicationsSuccessRatesPerSource = await LoanService.GetLoanApplicationsSuccessRate(DateTime.Today.AddDays(-30), stateOption);

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }


}

