﻿@page "/loans"

@using B1.Data
@using B1.Data.Services
@using B1.Data.ViewModels


@inject LoanDataService LoanService

@inject Blazored.LocalStorage.ILocalStorageService localStorage


<h1>Loans</h1>



@if (loans == null)
{
<p style="text-align: center; padding: 2em">
    <img src="/image/loading.gif" /><br />Patience is a virtue
</p>

}
else
{
<p>Records: @loans.Count()</p>
<DxDataGrid Data="@loans"
            KeyFieldName="LoanId"
            ShowFilterRow="true"
            DataNavigationMode="@DataGridNavigationMode.VirtualScrolling"
            ShowGroupPanel="false"
            SelectionMode="DataGridSelectionMode.MultipleSelectedDataRows"
            @bind-MultipleSelectedDataRows="@SelectedLoans"
            LayoutChanged="OnLayoutChanged"
            LayoutRestoring="OnLayoutRestoring"
            PageSize="25">
    @*
        <DxDataGridColumn Field="@nameof(LoanDetails.)" Caption="ID" TextAlignment="@DataGridTextAlign.Left"></DxDataGridColumn>
        <DxDataGridColumn Field="@nameof(LoanDetails.Car.Customer.FirstName)" Caption="First Name" TextAlignment="@DataGridTextAlign.Left">
            </DxDataGridColumn>
            <DxDataGridColumn Field="@nameof(LoanDetails)" Caption="Last Name" TextAlignment="@DataGridTextAlign.Left">
                <DisplayTemplate>
                    @(((context as LoanDetails).Car.Customer.LastName))
                </DisplayTemplate>
            </DxDataGridColumn>


    *@
    <DxDataGridColumn Field="@nameof(LoanViewModel.DateActivated)" Caption="StartDate" TextAlignment="@DataGridTextAlign.Left" SortIndex="1" SortOrder="DataGridColumnSortOrder.Descending">
        <DisplayTemplate>
            @(((context as LoanViewModel).DateActivated.ToString("dd MMM HH:mm:ss")))
        </DisplayTemplate>

    </DxDataGridColumn>

    <DxDataGridComboBoxColumn Field="@nameof(LoanViewModel.LoanProduct)"
                              Data="@LoanService.LoanTypes"
                              ValueFieldName="@nameof(LoanType.Id)"
                              TextFieldName="@nameof(LoanType.Name)">
    </DxDataGridComboBoxColumn>

    <DxDataGridComboBoxColumn Field="@nameof(LoanViewModel.State)"
                              Data="@LoanService.LoanStates"
                              ValueFieldName="@nameof(LoanState.Id)"
                              TextFieldName="@nameof(LoanState.Name)">
    </DxDataGridComboBoxColumn>


    @*<DxDataGridColumn Field="@nameof(LoanViewModel.FirstName)"></DxDataGridColumn>*@
    @*<DxDataGridColumn Field="@nameof(LoanViewModel.LastName)"></DxDataGridColumn>*@
    <DxDataGridColumn Field="@nameof(LoanViewModel.Postcode)"></DxDataGridColumn>
    @*<DxDataGridColumn Field="@nameof(LoanDetails.Car.Customer.CustomerId)"></DxDataGridColumn>
        <DxDataGridColumn Field="@nameof(LoanViewModel.Make)"></DxDataGridColumn>
        <DxDataGridColumn Field="@nameof(LoanViewModel.Model)"></DxDataGridColumn>
    *@

    <DxDataGridColumn Field="@nameof(LoanViewModel.CarValue)" TextAlignment="@DataGridTextAlign.Right">
        <DisplayTemplate>
            <span title="@((context as LoanViewModel).Make) @((context as LoanViewModel).Model), @((context as LoanViewModel).CarYear?.Year)">@(((context as LoanViewModel).CarValue?.ToString("#,0")))</span>
        </DisplayTemplate>
    </DxDataGridColumn>


    <DxDataGridColumn Field="@nameof(LoanViewModel.AmountLoaned)" Caption="Amount" TextAlignment="@DataGridTextAlign.Right">
        <DisplayTemplate>
            @(((context as LoanViewModel).AmountLoaned.ToString("#,0")))
        </DisplayTemplate>
    </DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(LoanViewModel.InterestRate)" Caption="Interest" TextAlignment="@DataGridTextAlign.Right">
        <DisplayTemplate>
            @(((context as LoanViewModel).InterestRate.ToString("0.00%")))
        </DisplayTemplate>
    </DxDataGridColumn>
    <DxDataGridColumn Field="@nameof(LoanViewModel.Duration)" TextAlignment="@DataGridTextAlign.Right"></DxDataGridColumn>
    <DxDataGridSpinEditColumn Field="@nameof(LoanViewModel.TotalPayabale)" TextAlignment="@DataGridTextAlign.Right">
        <DisplayTemplate>
            @((((context as LoanViewModel).TotalPayabale).ToString("#,0.00")))
        </DisplayTemplate>

    </DxDataGridSpinEditColumn>

    <DxDataGridSpinEditColumn Field="@nameof(LoanViewModel.PayCount)" TextAlignment="@DataGridTextAlign.Right">
    </DxDataGridSpinEditColumn>

    <DxDataGridSpinEditColumn Field="@nameof(LoanViewModel.PaySum)" TextAlignment="@DataGridTextAlign.Right">
        <DisplayTemplate>
            @((((context as LoanViewModel).PaySum ?? 0m).ToString("#,0.00")))
        </DisplayTemplate>
    </DxDataGridSpinEditColumn>


</DxDataGrid>

}

@code {

    //IEnumerable<LoanViewModel> selectedLoan;

    public IEnumerable<LoanViewModel> SelectedLoans { get; set; }
    //{
    //    get { return selectedLoan; }
    //    set{selectedLoan = value;}
    //}


    IEnumerable<LoanViewModel> loans = null;
    string layout;



    protected override async Task OnInitializedAsync()
    {
        //Task.Run(() =>
        //{
        loans = await LoanService.GetLoans(DateTime.Now.AddDays(-30));
        await InvokeAsync(StateHasChanged);
        //} );


    }
    private void OnLayoutChanged(IDataGridLayout e)
    {
        //    string lo = e.SaveLayout();
        //    localStorage.SetItem("GridLayout", lo);
        Task.Run(async () => await localStorage.SetItemAsync("GridLayout", e.SaveLayout()));

    }

    private void OnLayoutRestoring(IDataGridLayout e)
    {

        //    //Task<string> task = Task.Run<string>(async() => await localStorage.GetItemAsync<string>("GridLayout"));
        //    //var lo = task.Result;
        //    //string lo = localStorage.GetItem<string>("GridLayout");

        try{
            if (!String.IsNullOrEmpty(layout)) e.LoadLayout(layout);
        }
        catch {}
        //    var x = 0;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //await localStorage.SetItemAsync("name", "John Smith");
        try {
            layout = (await localStorage.GetItemAsync<object>("GridLayout"))?.ToString();
        }
        catch (Exception ex)
        {
            await localStorage.RemoveItemAsync("GridLayout");
            var x = ex;
        }

    }
}
