﻿@page "/loanApplicationsLast24Hours"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>@Title</h1>
<div class="d-flex" style="width: 250px">
    <div class="justify-content-start">
        <label style="padding: 0.5em">Period </label>
    </div>

    <div class="flex-grow-1">
        <DxComboBox Data="@(new List<int>(){1, 2, 3, 4, 5, 6, 7})"
                    NullText="Select option ..."
                    Value="@Option"
                    ValueChanged="@((int y) => SelectedYearChanged(y))">
        </DxComboBox>
    </div>

    <div class="justify-content-start">
        <label style="padding: 0.5em"> days</label>
    </div>

    
</div>


@if (LoanApplicationsPerHour == null || !LoanApplicationsPerHour.Any())
{
    <p><em>Loading...</em></p>
}
else
{

    <DxChart Data=@LoanApplicationsPerHour >

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
        </DxChartValueAxis>
        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisLabel CssClass="DarkTurquoise" />
        </DxChartValueAxis>

        <DxChartBarSeries Name="Applications" Filter=@((LoanApplicationsCountViewModel s) => s.Timestamp >= DateTime.Now.AddDays(-Option)) ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm")) ValueField=@(s => s.Count) Axis="CountAxis" />

        @*<DxChartLineSeries Name="12MA" Filter=@((LoanApplicationsCountViewModel s) => s.Timestamp >= DateTime.Now.AddDays(-Option)) ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm")) ValueField=@(s => s.MA) Axis="CountAxis" Color="@System.Drawing.Color.Gray">
                <DxChartSeriesPoint Visible="false" />
            </DxChartLineSeries>*@
        <DxChartLineSeries Name="12hTotal" Filter=@((LoanApplicationsCountViewModel s) => s.Timestamp >= DateTime.Now.AddDays(-Option)) ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm")) ValueField=@(s => s.Total) Axis="TotalAxis" Color="@System.Drawing.Color.DarkTurquoise">
            <DxChartSeriesPoint Visible="false" />
        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>
    <hr />
    <DxChart Data=@LoanApplicationsPerSource.Take(5)>
        <DxChartTitle Text="Sources %" />
        <DxChartLegend Position="@RelativePosition.Outside" Orientation="@Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Right" />
        <DxChartDonutSeries ValueField="@((LoanStatesViewModel i) => i.CountPct)" ArgumentField="@(i => i.Source)" AggregationMethod="@Enumerable.Sum">
            <DxChartSeriesLabel Visible="true" />
        </DxChartDonutSeries>
    </DxChart>
    <hr />
    <DxChart Data=@LoanApplicationsPerSource CustomizeSeriesPoint="@PreparePointLabel">

        <DxChartBarSeries Name="Source" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source.ToString()) ValueField=@(s => s.Count)>
            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>
        </DxChartBarSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

    @*<DxChart Data=@LoanApplicationsStatesDataAll CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="State" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.State.ToString()) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>

        <DxChart Data=@LoanApplicationsStatesDataPending CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Pending" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>

        <DxChart Data=@LoanApplicationsStatesDataAccepted CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Accepted" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>
        <DxChart Data=@LoanApplicationsStatesDataActive CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Active" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>

        <DxChart Data=@LoanApplicationsStatesDataRejected CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Rejected" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>
        <DxChart Data=@LoanApplicationsStatesNonPurchased CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Non Purchased" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>*@

}
@implements IDisposable
@code {
    private List<LoanStatesViewModel> LoanApplicationsPerSource;
    private List<LoanApplicationsCountViewModel> LoanApplicationsPerHour;

    private string Title = "Loan applications";

    private int Option = 1;
    private string SourceOption = "";

    bool showCheckboxes = true;
    bool ShowCheckboxes
    {
        get => showCheckboxes;
        set { showCheckboxes = value; InvokeAsync(StateHasChanged); }
    }

    IEnumerable<string> selectedItems;
    IEnumerable<string> SelectedItems
    {
        get => selectedItems;
        set { selectedItems = value; InvokeAsync(StateHasChanged); }
    }



    System.Timers.Timer timer = new System.Timers.Timer();

    protected override async Task OnInitializedAsync()
    {
        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 10) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;

        pointSettings.PointLabel.Visible = true;

        //if (pointSettings.Point.SeriesName == "Count")
        //{
        pointSettings.PointLabel.BackgroundColor = System.Drawing.Color.Gray;
        //}

    }

    private async Task Refresh()

    {
        LoanApplicationsPerHour = LoanService.GetLoanApplicationsPerHour(DataCache.LoanApllicationsDataClone, Option);
        LoanApplicationsPerSource = LoanService.GetLoanApplicationsPerSource(DataCache.LoanApllicationsDataClone, DateTime.Now.AddDays(-Option));

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    public double RefreshTime(DateTime d1, DateTime d2)
    {

        System.TimeSpan diffResult = d2.Subtract(d1);

        return diffResult.TotalMilliseconds;
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

    void SelectedYearChanged(int opt)
    {
        Option = opt;


        LoanApplicationsPerHour = null;
        LoanApplicationsPerSource = null;

        InvokeAsync(StateHasChanged);


        Task.Run(() =>
        {
            LoanApplicationsPerHour = LoanService.GetLoanApplicationsPerHour(DataCache.LoanApllicationsDataClone, Option);
            LoanApplicationsPerSource = LoanService.GetLoanApplicationsPerSource(DataCache.LoanApllicationsDataClone, DateTime.Now.AddDays(-Option));
            InvokeAsync(StateHasChanged);
        });

    }
    void SelectedSourceChanged(string opt)
    {
        SourceOption = opt;


        InvokeAsync(StateHasChanged);



    }

}

