﻿@page "/loanApplicationsMoreLess"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache
<style>
</style>
<h1>@Title</h1>
<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">
        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
            @foreach (var opt in LoanService.Intervals)
            {
            <DxTab Text="@(" " + (opt.Item1<24?opt.Item1.ToString()+"h":(opt.Item1/24).ToString()+"d") + " ")" CssClass="tabs"></DxTab>
            }
        </DxTabs>
        <h5 style="text-align:center; width: 100%">Time span</h5>
        @*@foreach (var opt in LoanService.Intervals)
            {
                <DxButton Id="@opt.Item1.ToString()" Click="@((args) => OnClick(args, opt))" Text="@(" " + (opt.Item1<24?opt.Item1.ToString()+"h":(opt.Item1/24).ToString()+"d") + " ")"></DxButton>
            }*@
    </div>

    <div class="flex-grow-1">
        &nbsp;
    </div>

    <div class="justify-content-end">
        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndexRes">
            @foreach (var opt in LoanService.Resolutions)
            {
            <DxTab Text="@(" " + opt.ToString() + "m ")" CssClass="tabs"></DxTab>
            }
        </DxTabs>
        <h5 style="text-align:center; width: 100%">Resolution</h5>
    </div>
</div>


@if (LoanApplicationsSmartIntervalPerSource == null || !LoanApplicationsSmartIntervalPerSource.Any())
{
<p><em>Loading...</em></p>
}
else
{

<DxChart Data=@LoanApplicationsSmartIntervalPerSource CssClass="Chart">
    @*<DxChartTitle Text="@ChartTitle()" />*@
    <DxChartValueAxis Name="CountAxis"
                      Position="@HorizontalEdge.Left" />

    @foreach (var src in LoanApplicationsSmartIntervalPerSource
          .GroupBy(l => l.Source)
          .OrderByDescending(g => g.Average(l => l.Count))
          .Select(g => new { Source = g.Key, Avg = g.Average(l => l.Count).ToString("0.0")}))
        {
    <DxChartStackedBarSeries Name=@(src.Source.Left(16) + ": " + src.Avg)
                             Filter=@((LoanApplicationsCountViewModel s) => s.Source == src.Source)
                             ArgumentField=@(s => s.Timestamp.ToString("ddd, HH:mm"))
                             ValueField=@(s => s.Count)
                             Axis="CountAxis" />
        }

    <DxChartLegend AllowToggleSeries="true"
                   Position=@RelativePosition.Outside
                   Orientation="@Orientation.Vertical"
                   HorizontalAlignment=@HorizontalAlignment.Right />

</DxChart>

<p style="margin-top: 3em; border-bottom: 1px solid lightgray" />

<DxChart Data=@LoanApplicationsSmartIntervalPerSource CssClass="Chart">

    <DxChartValueAxis Name="CountAxis"
                      Position="@HorizontalEdge.Left" />

    @*<DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Total Count"></DxChartAxisTitle>
        </DxChartValueAxis>*@

    @foreach (var src in LoanApplicationsSmartIntervalPerSource
                    .GroupBy(l => l.Source)
                    .OrderByDescending(g => g.Average(l => l.Count))
                    .Select(g => g.Key))
        {
    <DxChartFullStackedSplineAreaSeries Name=@src
                                        Filter=@((LoanApplicationsCountViewModel s) => s.Source == src)
                                        ArgumentField=@(s => s.Timestamp.ToString("ddd, HH:mm"))
                                        ValueField=@(s => s.Count)
                                        Axis="CountAxis" />
        }

    @*<DxChartSplineSeries Name="Total" AggregationMethod="@Enumerable.Sum" ArgumentField=@((LoanApplicationsCountViewModel s) => s.Timestamp.ToString("HH:mm")) ValueField="@(s => s.Count)" Axis="TotalAxis" Color="System.Drawing.Color.Yellow" />*@

    <DxChartLegend AllowToggleSeries="true"
                   Position=@RelativePosition.Outside
                   Orientation="@Orientation.Vertical"
                   HorizontalAlignment=@HorizontalAlignment.Right />

</DxChart>

<p style="margin-top: 3em; border-bottom: 1px solid lightgray" />
}

@implements IDisposable
@code {

    private List<LoanApplicationsCountViewModel> LoanApplicationsSmartIntervalPerSource = new List<LoanApplicationsCountViewModel>();

    private string Title = "Loan applications per source";

    System.Timers.Timer timer = new System.Timers.Timer();

    private (int, int) TimeIntervalOption;

    int activeTabIndex = 0;
    int ActiveTabIndex
    {
        get => activeTabIndex;
        set
        {
            activeTabIndex = value;
            TimeIntervalOption = LoanService.Intervals[value];
            ActiveTabIndexRes = LoanService.Resolutions.FindIndex(r => r == TimeIntervalOption.Item2);
            Refresh().ConfigureAwait(false);
        }
    }

    int activeTabIndexRes = 0;
    int ActiveTabIndexRes
    {
        get => activeTabIndexRes;
        set
        {
            activeTabIndexRes = value;
            TimeIntervalOption.Item2 = LoanService.Resolutions[value];
            Refresh().ConfigureAwait(false);
        }
    }

    void OnClick(MouseEventArgs args, (int, int) param)
    {
        TimeIntervalOption = param;
        Refresh().ConfigureAwait(false);
    }


    private string ChartTitle()
    {

        return "Interval: " + (TimeIntervalOption.Item1 < 24
                                ? TimeIntervalOption.Item1.ToString() + " hour(s)"
                                : (TimeIntervalOption.Item1 / 24).ToString() + " day(s)")

                            + ", Each bar: " + TimeIntervalOption.Item2.ToString() + " minute(s)";
    }

    protected override async Task OnInitializedAsync()
    {

        TimeIntervalOption = LoanService.Intervals[0];

        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 15) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;

        pointSettings.PointLabel.Visible = true;

        //if (pointSettings.Point.SeriesName == "Count")
        //{
        pointSettings.PointLabel.BackgroundColor = System.Drawing.Color.Gray;
        //}

    }

    private async Task Refresh()
    {
        LoanApplicationsSmartIntervalPerSource = LoanService.GetLoanApplicationsSmartIntervalPerSource(DataCache.LoanApllicationsDataClone, TimeIntervalOption);

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

}

