﻿@page "/loansTimelineWithSource"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading

@using zCache
@using System.Reflection

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  httpContextAccessor


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache
<style>
</style>
<h1>@Title</h1>
<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">
        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
            @foreach (var opt in LoanService.Intervals)
            {
            <DxTab Text="@(" " + (opt.Item1<24?opt.Item1.ToString()+"h":(opt.Item1/24).ToString()+"d") + " ")" CssClass="tabs"></DxTab>
            }
        </DxTabs>
        <h5 style="text-align:center; width: 100%">Time span</h5>
        @*@foreach (var opt in LoanService.Intervals)
            {
                <DxButton Id="@opt.Item1.ToString()" Click="@((args) => OnClick(args, opt))" Text="@(" " + (opt.Item1<24?opt.Item1.ToString()+"h":(opt.Item1/24).ToString()+"d") + " ")"></DxButton>
            }*@
    </div>

    <div class="flex-grow-1">
        &nbsp;
    </div>

    <div class="justify-content-end">
        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndexRes">
            @foreach (var opt in LoanService.Resolutions)
            {
            <DxTab Text="@(" " + opt.ToString() + "m ")" CssClass="tabs"></DxTab>
            }
        </DxTabs>
        <h5 style="text-align:center; width: 100%">Resolution</h5>
    </div>
</div>


@if (LoansSmartIntervalPerSource == null || !LoansSmartIntervalPerSource.Any())
{
<p><em>Loading...</em></p>
}
else
{

    <DxChart Data=@LoansSmartIntervalPerSource CssClass="Chart">
    
    <DxChartValueAxis Name="CountAxis"
                      Position="@HorizontalEdge.Left" />

    @foreach (var src in LoansSmartIntervalPerSource
          .Where(l => l.Source != "Total")
          .GroupBy(l => l.Source)
          .OrderByDescending(g => g.Sum(l => l.LoanSum))
          .Select(g => new { Source = g.Key, Avg = g.Sum(l => l.LoanSum).ToString("#,##0")}))
        {
    <DxChartStackedBarSeries Name=@(src.Source.Left(16))
                             Filter=@((LoanTimelineChartViewModel s) => s.Source == src.Source)
                             ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm"))
                             ValueField=@(s => s.LoanSum)
                             Axis="CountAxis" />
        }

    <DxChartLegend AllowToggleSeries="true"
                   Position=@RelativePosition.Outside
                   Orientation="@Orientation.Vertical"
                   HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>

    <p style="margin-top: 3em; border-bottom: 1px solid lightgray" />
    <h2>Velocity - Loan Sum</h2>


    <DxChart Data=@MAChartData CssClass="Chart">
    
    <DxChartValueAxis Name="Source"
                      Position="@HorizontalEdge.Left" 
                      />
    <DxChartValueAxis Name="Total"
                      Position="@HorizontalEdge.Right" 
                      />

        @foreach (var src in MAChartData
            .Where(l => l.Source != "Total")
            .GroupBy(l => l.Source)
            .OrderByDescending(g => g.Sum(l => l.LoanSum))
            .Select(g => new { Source = g.Key, Avg = g.Sum(l => l.LoanSum).ToString("#,##0")}))
        {
            <DxChartLineSeries Name=@(src.Source.Left(16))
                           Filter=@((LoanTimelineChartViewModel s) => s.Source == src.Source) 
                           ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm")) 
                           ValueField=@(s => s.MASum) 
                           Axis="Total">
            </DxChartLineSeries>
         }
            <DxChartLineSeries Name="Total"
                           Filter=@((LoanTimelineChartViewModel s) => s.Source == "Total") 
                           ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm")) 
                           ValueField=@(s => s.MASum) 
                           Axis="Total"
                           Color="System.Drawing.Color.Black">
            </DxChartLineSeries>
        
    <DxChartLegend AllowToggleSeries="true"
                   Position=@RelativePosition.Outside
                   Orientation="@Orientation.Vertical"
                   HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>
    
    <p style="margin-top: 3em; border-bottom: 1px solid lightgray" />
    <h2>Velocity - Loan Count</h2>

<DxChart Data=@MAChartData CssClass="Chart">
    
    <DxChartValueAxis Name="Source"
                      Position="@HorizontalEdge.Left" 
                      />
    <DxChartValueAxis Name="Total"
                      Position="@HorizontalEdge.Right" 
                      />

        @foreach (var src in MAChartData
            .Where(l => l.Source != "Total")
            .GroupBy(l => l.Source)
            .OrderByDescending(g => g.Sum(l => l.LoanSum))
            .Select(g => new { Source = g.Key, Avg = g.Sum(l => l.LoanSum).ToString("#,##0")}))
        {
            <DxChartLineSeries Name=@(src.Source.Left(16))
                           Filter=@((LoanTimelineChartViewModel s) => s.Source == src.Source) 
                           ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm")) 
                           ValueField=@(s => s.MACount) 
                           Axis="Total">
            </DxChartLineSeries>
         }
            <DxChartLineSeries Name="Total"
                           Filter=@((LoanTimelineChartViewModel s) => s.Source == "Total") 
                           ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm")) 
                           ValueField=@(s => s.MACount) 
                           Axis="Total"
                           Color="System.Drawing.Color.Black">
            </DxChartLineSeries>
        
    <DxChartLegend AllowToggleSeries="true"
                   Position=@RelativePosition.Outside
                   Orientation="@Orientation.Vertical"
                   HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>
    <p style="margin-top: 3em; border-bottom: 1px solid lightgray" />
}

@implements IDisposable
@code {

    List<LoanTimelineChartViewModel> LoansSmartIntervalPerSource = new List<LoanTimelineChartViewModel>();
    List<LoanTimelineChartViewModel> MAChartData = new List<LoanTimelineChartViewModel>();

    string Title = "New loans timeline per source";

    System.Timers.Timer timer = new System.Timers.Timer();

    private (int, int) TimeIntervalOption;
    private (int, int) TimeIntervalMAOption;

    int activeTabIndex = 0;
    int ActiveTabIndex
    {
        get => activeTabIndex;
        set
        {
            activeTabIndex = value;
            TimeIntervalOption = LoanService.Intervals[value];
            ActiveTabIndexRes = LoanService.Resolutions.FindIndex(r => r == TimeIntervalOption.Item2);
            Refresh().ConfigureAwait(false);
        }
    }

    int activeTabIndexRes = 0;
    int ActiveTabIndexRes
    {
        get => activeTabIndexRes;
        set
        {
            activeTabIndexRes = value;
            TimeIntervalOption.Item2 = LoanService.Resolutions[value];
            Refresh().ConfigureAwait(false);
        }
    }

    void OnClick(MouseEventArgs args, (int, int) param)
    {
        TimeIntervalOption = param;
        Refresh().ConfigureAwait(false);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TimeIntervalOption = LoanService.Intervals[0];
        await Refresh();

        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 15) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() => 
                    MyObjects.Cache.AddObject(
                    
                        new EventLogItem(
                            EventLevelType.Information,
                            MethodBase.GetCurrentMethod(),
                            httpContextAccessor.HttpContext.User.Identity.Name)));
        }
    }
    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;

        pointSettings.PointLabel.Visible = true;

        //if (pointSettings.Point.SeriesName == "Count")
        //{
        pointSettings.PointLabel.BackgroundColor = System.Drawing.Color.Gray;
        //}

    }

    private async Task Refresh()
    {
        LoansSmartIntervalPerSource = LoanService.GetLoansSmartIntervalPerSource(DataCache.Loans, TimeIntervalOption);



        //TimeIntervalMAOption.Item1 = TimeIntervalOption.Item1 * 2;
        TimeIntervalMAOption.Item1 = DateTime.Now.Hour;
        TimeIntervalMAOption.Item2 = TimeIntervalOption.Item2;
        var LoansRTRaw = LoanService.GetLoansSmartIntervalPerSource(DataCache.Loans, TimeIntervalMAOption);

@*        var timestamps = LoansSmartIntervalPerSource.Select(l => l.Timestamp).Distinct().ToList();
        var misingSources =  LoansRTRaw.Select(s=>s.Source).Distinct().Except(LoansSmartIntervalPerSource.Select(s=>s.Source).Distinct());
        var missingentries = new List<LoanTimelineChartViewModel>();
        foreach (string src in misingSources)
        {
            var scrTimestamps = LoansSmartIntervalPerSource.Where(l => l.Source == src).Select(l => l.Timestamp).Distinct();
            var missingTimestamps = timestamps.Except(scrTimestamps);
            foreach (var mts in missingTimestamps)
            {
                missingentries.Add(new LoanTimelineChartViewModel() { Source = src, Timestamp = mts, LoanSum = 0, LoanCount = 0 });
            }
        }

        LoansSmartIntervalPerSource.AddRange(missingentries);
*@


        var tot = LoansRTRaw
          .GroupBy(l => l.Timestamp)
          .Select(g => new LoanTimelineChartViewModel { Timestamp = g.Key, Source = "Total", LoanSum = g.Sum(l => l.LoanSum), LoanCount= g.Sum(l => l.LoanCount) });
        LoansRTRaw.AddRange(tot);
        
        
        //MAChartData = LoansRTRaw.Where(x => x.Timestamp > DateTime.Now.AddHours(-TimeIntervalOption.Item1)).ToList();
        MAChartData = LoansRTRaw.Where(x => x.Timestamp > DateTime.Today.AddHours(8)).ToList();

        foreach (var l in MAChartData)
        {
            l.MASum = LoansRTRaw
                .Where(x => x.Timestamp > l.Timestamp.AddHours(-TimeIntervalOption.Item1)
                         && x.Timestamp <= l.Timestamp
                         && x.Source == l.Source)
                .Sum(x => x.LoanSum);

            l.MACount = LoansRTRaw
                .Where(x => x.Timestamp > l.Timestamp.AddHours(-TimeIntervalOption.Item1)
                         && x.Timestamp <= l.Timestamp
                         && x.Source == l.Source)
                .Sum(x => x.LoanCount);

        }

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

}

