﻿@page "/loanApplicationsLastFewDays"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>@Title</h1>
<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">
        <label style="padding: 0.5em">Period </label>
    </div>

    <div class="justify-content-start">
        <DxComboBox Data="@(new List<int>(){1, 2, 3, 4, 5, 6, 7})"
                    NullText="Select option ..."
                    Value="@Option"
                    ValueChanged="@((int y) => SelectedYearChanged(y))">
        </DxComboBox>
    </div>

    <div class="justify-content-start">
        <label style="padding: 0.5em"> day(s)</label>
    </div>
    <div class="flex-grow-1">
        &nbsp;
    </div>

    <div class="justify-content-end">
        @*<DxButton Click="@OnClick" Text="@(allSeriesVisible ? "Hide all" : "Show all")"></DxButton>*@
        @*<a href="javascript: $('input:checkbox').removeAttr('checked');">Clear all</a>*@
    </div>

</div>


@if (LoanApplicationsPerHourPerSource == null || !LoanApplicationsPerHourPerSource.Any())
{
    <p><em>Loading...</em></p>
}
else
{

    <DxChart Data=@LoanApplicationsPerHourPerSource CssClass="Chart">

        <DxChartValueAxis Name="CountAxis" 
                          Position="@HorizontalEdge.Left" />

        @foreach (string src in LoanApplicationsPerHourPerSource
                                .GroupBy(l => l.Source)
                                .OrderByDescending(g => g.Average(l => l.Count))
                                .Select(g => g.Key))
        {
            <DxChartStackedBarSeries Name=@src
                                     Filter=@((LoanApplicationsCountViewModel s) => s.Source == src)
                                     ArgumentField=@(s => s.Timestamp.ToString("ddd HH:mm"))
                                     ValueField=@(s => s.Count)
                                     Axis="CountAxis" 
                                     />
        }

        <DxChartLegend AllowToggleSeries="true"
                       Position=@RelativePosition.Outside
                       Orientation="@Orientation.Vertical"
                       HorizontalAlignment=@HorizontalAlignment.Right />

    </DxChart>

}

@implements IDisposable
@code {
    
    private List<LoanApplicationsCountViewModel> LoanApplicationsPerHourPerSource;

    private string Title = "Loan applications per source";

    private int Option = 1;

    System.Timers.Timer timer = new System.Timers.Timer();

    bool allSeriesVisible = true;
    
    protected void OnClick(MouseEventArgs args) {
        allSeriesVisible = !allSeriesVisible;
        InvokeAsync(StateHasChanged);
    }


    protected override async Task OnInitializedAsync()
    {
        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 10) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;

        pointSettings.PointLabel.Visible = true;

        //if (pointSettings.Point.SeriesName == "Count")
        //{
        pointSettings.PointLabel.BackgroundColor = System.Drawing.Color.Gray;
        //}

    }

    private async Task Refresh()
    {
        LoanApplicationsPerHourPerSource = LoanService.GetLoanApplicationsPerHourPerSource(DataCache.LoanApllicationsDataClone, Option);
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    void SelectedYearChanged(int opt)
    {
        Option = opt;
        Task.Run(async () => await Refresh());
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

}

