﻿@page "/loanApplications"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>@Title</h1>
<div class="d-flex" style="width: 250px">
    <div class="justify-content-start">
        <label style="padding: 0.5em">Period </label>
    </div>

    <div class="flex-grow-1">
        <DxComboBox Data="@(new List<int>(){60, 120, 180})"
                    NullText="Select option ..."
                    @bind-Value="@Option"
                    SelectedItemChanged="@SelectedYearChanged">
        </DxComboBox>
    </div>

    <div class="justify-content-start">
        <label style="padding: 0.5em"> minutes</label>
    </div>

</div>



@if (LoanApplicationsPerTime == null)
{

    <p><em>Loading...</em></p>
}
else
{

<DxChart Data=@LoanApplicationsPerTime>
    <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
    </DxChartValueAxis>
    <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Right">
        <DxChartAxisLabel CssClass="DarkTurquoise" />
    </DxChartValueAxis>

    <DxChartBarSeries Name="Applications" Filter=@((LoanApplicationsCountViewModel s) => s.Timestamp >= DateTime.Now.AddMinutes(-Option - 1)) ArgumentField=@(s => s.Timestamp.ToString("HH:mm")) ValueField=@(s => s.Count) Axis="CountAxis" />
    <DxChartLineSeries Name="60MA" Filter=@((LoanApplicationsCountViewModel s) => s.Timestamp >= DateTime.Now.AddMinutes(-Option - 1)) ArgumentField=@(s => s.Timestamp.ToString("HH:mm")) ValueField=@(s => s.MA) Axis="CountAxis" Color="@System.Drawing.Color.Gray">
        <DxChartSeriesPoint Visible="false" />
    </DxChartLineSeries>
    <DxChartLineSeries Name="60Total" Filter=@((LoanApplicationsCountViewModel s) => s.Timestamp >= DateTime.Now.AddMinutes(-Option - 1)) ArgumentField=@(s => s.Timestamp.ToString("HH:mm")) ValueField=@(s => s.Total) Axis="TotalAxis" Color="@System.Drawing.Color.DarkTurquoise">
        <DxChartSeriesPoint Visible="false" />
    </DxChartLineSeries>

    <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />

</DxChart>
    <hr />
    <DxChart Data=@LoanApplicationsPerSource.Take(5)>
        <DxChartTitle Text="Sources %" />
        <DxChartLegend Position="@RelativePosition.Outside" Orientation="@Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Right" />
        <DxChartDonutSeries ValueField="@((LoanStatesViewModel i) => i.CountPct)" ArgumentField="@(i => i.Source)" AggregationMethod="@Enumerable.Sum">
            <DxChartSeriesLabel Visible=@true Position=@RelativePosition.Outside />
        </DxChartDonutSeries>
    </DxChart>
    <hr />
    <DxChart Data=@LoanApplicationsPerSource CustomizeSeriesPoint="@PreparePointLabel">

        <DxChartBarSeries Name="Source" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source.ToString()) ValueField=@(s => s.Count)>
            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>
        </DxChartBarSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

    @*<DxChart Data=@LoanApplicationsStatesDataAll CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="State" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.State.ToString()) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>

        <DxChart Data=@LoanApplicationsStatesDataPending CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Pending" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>

        <DxChart Data=@LoanApplicationsStatesDataAccepted CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Accepted" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>
        <DxChart Data=@LoanApplicationsStatesDataActive CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Active" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>

        <DxChart Data=@LoanApplicationsStatesDataRejected CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Rejected" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>
        <DxChart Data=@LoanApplicationsStatesNonPurchased CustomizeSeriesPoint="@PreparePointLabel">

            <DxChartBarSeries Name="Non Purchased" Filter=@((LoanStatesViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.Count)>
                <DxChartSeriesLabel Position="@RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

            <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        </DxChart>*@

}
@implements IDisposable
@code {
    private List<LoanApplicationsCountViewModel> LoanApplicationsPerTime;
    private List<LoanStatesViewModel> LoanApplicationsPerSource;

    //private List<LoanStatesViewModel> LoanApplicationsStatesDataPending;
    //private List<LoanStatesViewModel> LoanApplicationsStatesDataAccepted;
    //private List<LoanStatesViewModel> LoanApplicationsStatesDataActive;
    //private List<LoanStatesViewModel> LoanApplicationsStatesDataRejected;
    //private List<LoanStatesViewModel> LoanApplicationsStatesNonPurchased;

    private string Title = "Recent loan applications ";

    private int Option = 60;

    System.Timers.Timer timer = new System.Timers.Timer();

    protected override async Task OnInitializedAsync()
    {
        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 10) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;

        pointSettings.PointLabel.Visible = true;

        //if (pointSettings.Point.SeriesName == "Count")
        //{
        pointSettings.PointLabel.BackgroundColor = System.Drawing.Color.Gray;
        //}

    }

    private async Task Refresh()

    {
        LoanApplicationsPerTime = LoanService.GetLoanApplicationsPerMinute(DataCache.LoanApllicationsDataClone, Option);
        LoanApplicationsPerSource = LoanService.GetLoanApplicationsPerSource(DataCache.LoanApllicationsDataClone, DateTime.Now.AddMinutes(-Option));

        //LoanApplicationsStatesDataAll = LoanService.GetLoanApplicationsAllStates(DataCache.LoanApplications);
        //LoanApplicationsStatesDataPending = LoanService.GetLoanApplicationsInStates(LoanApplicationStateType.Pending, DataCache.RecentLoanAppicationsStates);
        //LoanApplicationsStatesDataAccepted = LoanService.GetLoanApplicationsInStates(LoanApplicationStateType.Accepted, DataCache.RecentLoanAppicationsStates);
        //LoanApplicationsStatesDataActive = LoanService.GetLoanApplicationsInStates(LoanApplicationStateType.Active, DataCache.RecentLoanAppicationsStates);
        //LoanApplicationsStatesDataRejected = LoanService.GetLoanApplicationsInStates(LoanApplicationStateType.Rejected, DataCache.RecentLoanAppicationsStates);
        //LoanApplicationsStatesNonPurchased = LoanService.GetLoanApplicationsInStates(LoanApplicationStateType.NonPurchased, DataCache.RecentLoanAppicationsStates);

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    public double RefreshTime(DateTime d1, DateTime d2)
    {

        System.TimeSpan diffResult = d2.Subtract(d1);

        return diffResult.TotalMilliseconds;
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }



    void SelectedYearChanged(int opt)
    {
        Option = opt;

        LoanApplicationsPerTime = null;
        LoanApplicationsPerSource = null;
        
        InvokeAsync(StateHasChanged);


        Task.Run(() =>
        {
            LoanApplicationsPerTime = LoanService.GetLoanApplicationsPerMinute(DataCache.LoanApllicationsDataClone, this.Option);
            LoanApplicationsPerSource = LoanService.GetLoanApplicationsPerSource(DataCache.LoanApllicationsDataClone, DateTime.Now.AddMinutes(-Option));
            InvokeAsync(StateHasChanged);
        });

    }

}
