﻿@page "/loansTodayPerSize"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading
@using zCache
@using System.Reflection

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  httpContextAccessor

@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>@Title @RefreshSymbol</h1>

@if (ChartLoanTodayData == null)
{

<p><em>Loading...</em></p>
}
else
{
<DxChart Data=@ChartLoanTodayData CustomizeSeriesPoint="@PreparePointLabel" CssClass="Chart">

    <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
        <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
    </DxChartValueAxis>

    <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
        <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
    </DxChartValueAxis>

    <DxChartArgumentAxis>
        <DxChartAxisTitle Text="Loan Size"></DxChartAxisTitle>
    </DxChartArgumentAxis>

    @*<DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>@(Convert.ToInt32(context.Point.Value).ToString("#,0"))</p>
            </div>
        </DxChartTooltip>*@


    <DxChartBarSeries Name="£ Loaned" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Size.ToString("#,0")) ValueField=@(s => s.LoansAmountOut) />

    <DxChartLineSeries Name="Count" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Size.ToString("#,0")) ValueField=@(s => s.LoansCount) Axis="CountAxis">

        <DxChartSeriesLabel Position="@RelativePosition.Outside">
            <DxChartSeriesLabelConnector Visible="true" Width="3" />
        </DxChartSeriesLabel>

    </DxChartLineSeries>

    <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
</DxChart>


}
@implements IDisposable
@code {

    private List<LoanChartPerSizeViewModel> ChartLoanTodayData;

    private string Title = "Today's new loans per size";
    private string RefreshSymbol = "";


    System.Timers.Timer timer;

    protected override async Task OnInitializedAsync()
    {
        timer = new System.Timers.Timer();
        timer.Elapsed += (s, ev) => {if (DateTime.Now.Second == 0) Refresh().Wait();};
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

     protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() => 
                    MyObjects.Cache.AddObject(
                    
                        new EventLogItem(
                            EventLevelType.Information,
                            MethodBase.GetCurrentMethod(),
                            httpContextAccessor.HttpContext.User.Identity.Name)));
        }
    }
    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;
        if (pointSettings.Point.SeriesName == "Count")
            pointSettings.PointLabel.Visible = true;
    }

    private async Task Refresh()
    {

        ChartLoanTodayData = LoanService.GetLoansPerSize(DateTime.Today, DataCache.Loans);

        if (ChartLoanTodayData.Any())
        {
            ChartLoanTodayData.Insert(
                0,
                new LoanChartPerSizeViewModel()
                {
                    Size = 0,
                    LoansAmountOut = ChartLoanTodayData.Sum(las => las.LoansAmountOut),
                    LoansCount = ChartLoanTodayData.Sum(las => las.LoansCount)

                });
        }

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);

    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }
}
