﻿@page "/loansTodayPerSource"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading

@using zCache
@using System.Reflection

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  httpContextAccessor


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>@Title @RefreshSymbol</h1>

<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">
        <DxTabs @bind-ActiveTabIndex="@TimeSpanTabIndex">
            <DxTab Text="Today" CssClass="tabs"></DxTab>
            <DxTab Text="Today 2" CssClass="tabs"></DxTab>
            <DxTab Text="Yesterday" CssClass="tabs"></DxTab>
            <DxTab Text="@thisWeek" CssClass="tabs"></DxTab>
            <DxTab Text="@lastWeek" CssClass="tabs"></DxTab>
            <DxTab Text="@thisMonth" CssClass="tabs"></DxTab>
            <DxTab Text="@lastMonth" CssClass="tabs"></DxTab>
            <DxTab Text="@thisYear" CssClass="tabs"></DxTab>
        </DxTabs>
    </div>

    <div class="flex-grow-1">
        &nbsp;
    </div>
</div>



@if (ChartLoanTodayDataS == null)
{
    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Patience is a virtue
    </p>
}
else
{
    <DxChart Data=@ChartLoanTodayDataS CustomizeSeriesPoint="@PreparePointLabel" CssClass="Chart">

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>
        @if (ChartLoanTodayDataS.Any(las => las.SumComp1 != null))
        {
            if(TimeSpanTabIndex == 0)
            {
                <DxChartBarSeries Name="£ Yesterday same period" Filter=@((LoanChartPerSizeViewModel s) => s.SumComp1 != null) ArgumentField=@(s => s.Source) ValueField=@(s => s.SumComp1) Color="System.Drawing.Color.LightGray" />
            }
            else
            {
                <DxChartBarSeries Name="£ Yesterday whole day" Filter=@((LoanChartPerSizeViewModel s) => s.SumComp1 != null) ArgumentField=@(s => s.Source) ValueField=@(s => s.SumComp1) Color="System.Drawing.Color.Gray" />
                <DxChartBarSeries Name="£ Yesterday same period" Filter=@((LoanChartPerSizeViewModel s) => s.SumComp2 != null) ArgumentField=@(s => s.Source) ValueField=@(s => s.SumComp2) Color="System.Drawing.Color.LightGray" />
            }

        }
        <DxChartBarSeries Name="£ Loaned" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.LoansAmountOut) />
        
        @if (ChartLoanTodayDataS.Any(las => las.CountComp1 != null))
        {
            if(TimeSpanTabIndex == 0)
            {
                
                <DxChartLineSeries Name="Count Yest same period" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.CountComp1) Axis="CountAxis" Color="System.Drawing.Color.LightGray">
                    <DxChartSeriesLabel Position="@RelativePosition.Outside">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                </DxChartLineSeries>

            }
            else
            {
                <DxChartLineSeries Name="Count Yest whole day" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.CountComp1) Axis="CountAxis" Color="System.Drawing.Color.Gray">
                    <DxChartSeriesLabel Position="@RelativePosition.Outside">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                </DxChartLineSeries>
                <DxChartLineSeries Name="Count Yest same period" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.CountComp2) Axis="CountAxis" Color="System.Drawing.Color.LightGray">
                    <DxChartSeriesLabel Position="@RelativePosition.Outside">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                </DxChartLineSeries>

            }
        }

        <DxChartLineSeries Name="Count" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.LoansCount) Axis="CountAxis" Color="@(System.Drawing.ColorTranslator.FromHtml("#009CE4"))">

            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>

        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

    <p style="margin-top: 3em; border-bottom: 1px solid lightgray" />

    <DxChart Data=@ChartLoanTodayDataS2 CustomizeSeriesPoint="@PreparePointLabel" CssClass="Chart">
        <DxChartTitle Text="Digital Oyster" />

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>

        @if (ChartLoanTodayDataS2.Any(las => las.SumComp1 != null))
        {
            if(TimeSpanTabIndex == 0)
            {
                <DxChartBarSeries Name="£ Yesterday same period" Filter=@((LoanChartPerSizeViewModel s) => s.SumComp1 != null) ArgumentField=@(s => s.Source) ValueField=@(s => s.SumComp1) Color="System.Drawing.Color.LightGray" />
            }
            else
            {
                <DxChartBarSeries Name="£ Yesterday whole day" Filter=@((LoanChartPerSizeViewModel s) => s.SumComp1 != null) ArgumentField=@(s => s.Source) ValueField=@(s => s.SumComp1) Color="System.Drawing.Color.Gray" />
                <DxChartBarSeries Name="£ Yesterday same period" Filter=@((LoanChartPerSizeViewModel s) => s.SumComp2 != null) ArgumentField=@(s => s.Source) ValueField=@(s => s.SumComp2) Color="System.Drawing.Color.LightGray" />
            }

        }

        <DxChartBarSeries Name="£ Loaned" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.LoansAmountOut) />


        @if (ChartLoanTodayDataS2.Any(las => las.CountComp1 != null))
        {
            if(TimeSpanTabIndex == 0)
            {
                
                <DxChartLineSeries Name="Count Yest same period" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.CountComp1) Axis="CountAxis" Color="System.Drawing.Color.LightGray">
                    <DxChartSeriesLabel Position="@RelativePosition.Outside">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                </DxChartLineSeries>

            }
            else
            {
                <DxChartLineSeries Name="Count Yest whole day" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.CountComp1) Axis="CountAxis" Color="System.Drawing.Color.Gray">
                    <DxChartSeriesLabel Position="@RelativePosition.Outside">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                </DxChartLineSeries>

                <DxChartLineSeries Name="Count Yest same period" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.CountComp2) Axis="CountAxis" Color="System.Drawing.Color.LightGray">
                    <DxChartSeriesLabel Position="@RelativePosition.Outside">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                </DxChartLineSeries>

            }        }

        <DxChartLineSeries Name="Count" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Source) ValueField=@(s => s.LoansCount) Axis="CountAxis" Color="@(System.Drawing.ColorTranslator.FromHtml("#009CE4"))">

            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>

        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

    <p style="margin-top: 7em; border-bottom: 1px solid lightgray" />

}
@implements IDisposable
@code {

    List<LoanChartPerSizeViewModel> ChartLoanTodayDataS;
    List<LoanChartPerSizeViewModel> ChartLoanTodayDataS2;

    List<LoanChartPerSizeViewModel> ChartLoanTodayDataSYesterday;

    string Title = "New loans per source";
    string RefreshSymbol = "";


    private string thisWeek = "This week (" + DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1).ToString("dd MMM") + " - "
                                              + DateTime.Today.ToString("dd MMM") + ")";

    private string lastWeek = "Last week (" + DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) - 6).ToString("dd MMM") + " - "
                                            + DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek)).ToString("dd MMM") + ")";

    private string thisMonth = "This month (" + (new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).ToString("dd MMM") + " - "
                                              + DateTime.Today.ToString("dd MMM") + ")";

    private string lastMonth = "Last month (" + (new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).AddMonths(-1).ToString("dd MMM") + " - "
                                              + (new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).AddDays(-1).ToString("dd MMM") + ")";

    private string thisYear = "This year (" + DateTime.Today.Year.ToString() + ")";

    int timeSpanTabIndex = 0;
    int TimeSpanTabIndex
    {
        get => timeSpanTabIndex;
        set
        {
            timeSpanTabIndex = value;

            ChartLoanTodayDataS = null;
            InvokeAsync(StateHasChanged);

            Task.Run(async () => await Refresh());
        }
    }

    System.Timers.Timer timer;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Refresh();
        
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += (s, ev) => { 
            if (DateTime.Now.Second == 0 && TimeSpanTabIndex < 2 ) Refresh().Wait(); 
        };
        timer.Start();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() => 
                    MyObjects.Cache.AddObject(
                    
                        new EventLogItem(
                            EventLevelType.Information,
                            MethodBase.GetCurrentMethod(),
                            httpContextAccessor.HttpContext.User.Identity.Name)));
        }
    }
    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;
        if (pointSettings.Point.SeriesName.StartsWith("Count"))
            pointSettings.PointLabel.Visible = true;

       if(timeSpanTabIndex == 0)
       {
            if (pointSettings.Point.SeriesName.StartsWith("Count Yest"))
            pointSettings.PointAppearance.Color = System.Drawing.Color.Gray;
        }
        else if(timeSpanTabIndex == 1)
        {

            if (pointSettings.Point.SeriesName.StartsWith("Count Yest"))
                pointSettings.PointAppearance.Color = System.Drawing.Color.LightGray;

            if (pointSettings.Point.SeriesName.StartsWith("Count Yest whole"))
                pointSettings.PointAppearance.Color = System.Drawing.Color.Gray;

        }
        else
        {
            if (pointSettings.Point.SeriesName.StartsWith("Count"))
            pointSettings.PointAppearance.Color = System.Drawing.Color.Gray;
        }



    }

    private async Task Refresh()
    {

        IEnumerable<Loan> loans = null;

        List<string> todayMissingSources;
        List<string> todayMissingSources2;
        List<LoanChartPerSizeViewModel> yesterdayLoans;
        List<LoanChartPerSizeViewModel> yesterdayLoans2;

        switch (TimeSpanTabIndex)
        {
            case 0: //today vs same period yesterday
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.Today, DataCache.Loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.Today, DataCache.Loans, "Digital Oyster");

                yesterdayLoans = LoanService.GetLoansPerSource(DateTime.Today.AddDays(-1), DataCache.Loans, DateTime.Now.AddDays(-1));
                yesterdayLoans2 = LoanService.GetLoansPerSource2(DateTime.Today.AddDays(-1), DataCache.Loans, "Digital Oyster", DateTime.Now.AddDays(-1));

                foreach (var s in ChartLoanTodayDataS)
                {
                    s.SumComp1 = yesterdayLoans.FirstOrDefault(sy => sy.Source == s.Source)?.LoansAmountOut;
                    s.CountComp1 = yesterdayLoans.FirstOrDefault(sy => sy.Source == s.Source)?.LoansCount;
                }

                todayMissingSources = yesterdayLoans.Select(y => y.Source).Except(ChartLoanTodayDataS.Select(x => x.Source)).ToList();

                foreach (var s in yesterdayLoans.Where(x => todayMissingSources.Contains(x.Source)))
                {
                    ChartLoanTodayDataS.Add(

                        new LoanChartPerSizeViewModel()
                        {
                            Source = s.Source,
                            LoansAmountOut = 0m,
                            LoansCount = 0,

                            SumComp1 = s.LoansAmountOut,
                            CountComp1 = s.LoansCount
                        });
                }

                foreach (var s in ChartLoanTodayDataS2)
                {
                    s.SumComp1 = yesterdayLoans2.FirstOrDefault(sy => sy.Source == s.Source)?.LoansAmountOut;
                    s.CountComp1 = yesterdayLoans2.FirstOrDefault(sy => sy.Source == s.Source)?.LoansCount;
                }

                todayMissingSources2 = yesterdayLoans2.Select(y => y.Source).Except(ChartLoanTodayDataS2.Select(x => x.Source)).ToList();

                foreach (var s in yesterdayLoans2.Where(x => todayMissingSources2.Contains(x.Source)))
                {
                    ChartLoanTodayDataS2.Add(

                        new LoanChartPerSizeViewModel()
                        {
                            Source = s.Source,
                            LoansAmountOut = 0m,
                            LoansCount = 0,

                            SumComp1 = s.LoansAmountOut,
                            CountComp1 = s.LoansCount
                        });
                }

                
                break;

            case 1: //today vs whole yesterday and same period yesterday
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.Today, DataCache.Loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.Today, DataCache.Loans, "Digital Oyster");

                yesterdayLoans = LoanService.GetLoansPerSource(DateTime.Today.AddDays(-1), DataCache.Loans, DateTime.Today);
                foreach (var s in ChartLoanTodayDataS)
                {
                    s.SumComp1 = yesterdayLoans.FirstOrDefault(sy => sy.Source == s.Source)?.LoansAmountOut;
                    s.CountComp1 = yesterdayLoans.FirstOrDefault(sy => sy.Source == s.Source)?.LoansCount;
                }

                todayMissingSources = yesterdayLoans.Select(y => y.Source).Except(ChartLoanTodayDataS.Select(x => x.Source)).ToList();

                foreach (var s in yesterdayLoans.Where(x => todayMissingSources.Contains(x.Source)))
                {
                    ChartLoanTodayDataS.Add(

                        new LoanChartPerSizeViewModel()
                        {
                            Source = s.Source,
                            LoansAmountOut = 0m,
                            LoansCount = 0,

                            SumComp1 = s.LoansAmountOut,
                            CountComp1 = s.LoansCount
                        });
                }

                //yesterday same period
                yesterdayLoans = LoanService.GetLoansPerSource(DateTime.Today.AddDays(-1), DataCache.Loans, DateTime.Now.AddDays(-1));
                foreach (var s in ChartLoanTodayDataS)
                {
                    s.SumComp2 = yesterdayLoans.FirstOrDefault(sy => sy.Source == s.Source)?.LoansAmountOut;
                    s.CountComp2 = yesterdayLoans.FirstOrDefault(sy => sy.Source == s.Source)?.LoansCount;
                }

                todayMissingSources = yesterdayLoans.Select(y => y.Source).Except(ChartLoanTodayDataS.Select(x => x.Source)).ToList();

                foreach (var s in yesterdayLoans.Where(x => todayMissingSources.Contains(x.Source)))
                {
                    ChartLoanTodayDataS.Add(

                        new LoanChartPerSizeViewModel()
                        {
                            Source = s.Source,
                            LoansAmountOut = 0m,
                            LoansCount = 0,

                            SumComp2 = s.LoansAmountOut,
                            CountComp2 = s.LoansCount
                        });
                }

                //Digital Oyster vs whole yesterday
                var yesterdayLoansDO = LoanService.GetLoansPerSource2(DateTime.Today.AddDays(-1), DataCache.Loans, "Digital Oyster", DateTime.Today);

                foreach (var s in ChartLoanTodayDataS2)
                {
                    s.SumComp1 = yesterdayLoansDO.FirstOrDefault(sy => sy.Source == s.Source)?.LoansAmountOut;
                    s.CountComp1 = yesterdayLoansDO.FirstOrDefault(sy => sy.Source == s.Source)?.LoansCount;
                }

                var todayMissingSourcesDO = yesterdayLoansDO.Select(y => y.Source).Except(ChartLoanTodayDataS2.Select(x => x.Source)).ToList();
                foreach (var s in yesterdayLoansDO.Where(x => todayMissingSourcesDO.Contains(x.Source)))
                {
                    ChartLoanTodayDataS2.Add(

                        new LoanChartPerSizeViewModel()
                        {
                            Source = s.Source,
                            LoansAmountOut = 0m,
                            LoansCount = 0,

                            SumComp1 = s.LoansAmountOut,
                            CountComp1 = s.LoansCount
                        });
                }
                //DIgital Oyster vs same period yesterday
                yesterdayLoansDO = LoanService.GetLoansPerSource2(DateTime.Today.AddDays(-1), DataCache.Loans, "Digital Oyster", DateTime.Now.AddDays(-1));

                foreach (var s in ChartLoanTodayDataS2)
                {
                    s.SumComp2 = yesterdayLoansDO.FirstOrDefault(sy => sy.Source == s.Source)?.LoansAmountOut;
                    s.CountComp2 = yesterdayLoansDO.FirstOrDefault(sy => sy.Source == s.Source)?.LoansCount;
                }

                todayMissingSourcesDO = yesterdayLoansDO.Select(y => y.Source).Except(ChartLoanTodayDataS2.Select(x => x.Source)).ToList();
                foreach (var s in yesterdayLoansDO.Where(x => todayMissingSourcesDO.Contains(x.Source)))
                {
                    ChartLoanTodayDataS2.Add(

                        new LoanChartPerSizeViewModel()
                        {
                            Source = s.Source,
                            LoansAmountOut = 0m,
                            LoansCount = 0,

                            SumComp2 = s.LoansAmountOut,
                            CountComp2 = s.LoansCount
                        });
                }

                
                break;

            case 2: //yesterday
                loans = await LoanService.GetLoans(DateTime.Today.AddDays(-1), DateTime.Today);
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.MinValue, loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.MinValue, loans, "Digital Oyster");
                break;

            case 3: //this week
                loans = await LoanService.GetLoans(DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1), DateTime.Now);
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.MinValue, loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.MinValue, loans, "Digital Oyster");
                break;

            case 4: //last week
                loans = await LoanService.GetLoans(DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1 - 7), DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1));
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.MinValue, loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.MinValue, loans, "Digital Oyster");
                break;

            case 5: //this month
                loans = await LoanService.GetLoans(new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1), DateTime.Now);
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.MinValue, loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.MinValue, loans, "Digital Oyster");
                break;

            case 6: //last month
                loans = await LoanService.GetLoans((new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).AddMonths(-1), new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1));
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.MinValue, loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.MinValue, loans, "Digital Oyster");
                break;

            case 7: //this year
                loans = await LoanService.GetLoans((new DateTime(DateTime.Today.Year, 1, 1)), DateTime.Now);
                ChartLoanTodayDataS = LoanService.GetLoansPerSource(DateTime.MinValue, loans);
                ChartLoanTodayDataS2 = LoanService.GetLoansPerSource2(DateTime.MinValue, loans, "Digital Oyster");
                break;

        }


        if (ChartLoanTodayDataS.Any())
        {
            decimal? SumComp1 = null;
            decimal? CountComp1 = null;
            decimal? SumComp2 = null;
            decimal? CountComp2 = null;

            if (ChartLoanTodayDataS.Any(las => las.SumComp1 != null))
            {
                SumComp1 = ChartLoanTodayDataS.Sum(las => las.SumComp1);
                CountComp1 = ChartLoanTodayDataS.Sum(las => las.CountComp1);
            }
            if (ChartLoanTodayDataS.Any(las => las.SumComp2 != null))
            {
                SumComp2 = ChartLoanTodayDataS.Sum(las => las.SumComp2);
                CountComp2 = ChartLoanTodayDataS.Sum(las => las.CountComp2);
            }

            ChartLoanTodayDataS.Insert(
                0,
                new LoanChartPerSizeViewModel()
                {
                    Source = "Total",
                    LoansAmountOut = ChartLoanTodayDataS.Sum(las => las.LoansAmountOut),
                    LoansCount = ChartLoanTodayDataS.Sum(las => las.LoansCount),

                    SumComp1 = SumComp1,
                    CountComp1 = CountComp1,

                    SumComp2 = SumComp2,
                    CountComp2 = CountComp2

                });
        }

        if (ChartLoanTodayDataS2.Any())
        {
            decimal? SumComp12 = null;
            decimal? CountComp12 = null;
            decimal? SumComp22 = null;
            decimal? CountComp22 = null;

            if (ChartLoanTodayDataS2.Any(las => las.SumComp1 != null))
            {
                SumComp12 = ChartLoanTodayDataS2.Sum(las => las.SumComp1);
                CountComp12 = ChartLoanTodayDataS2.Sum(las => las.CountComp1);
            }
            if (ChartLoanTodayDataS2.Any(las => las.SumComp2 != null))
            {
                SumComp22 = ChartLoanTodayDataS2.Sum(las => las.SumComp2);
                CountComp22 = ChartLoanTodayDataS2.Sum(las => las.CountComp2);
            }

            ChartLoanTodayDataS2.Insert(
                0,
                new LoanChartPerSizeViewModel()
                {
                    Source = "Total",
                    LoansAmountOut = ChartLoanTodayDataS2.Sum(las => las.LoansAmountOut),
                    LoansCount = ChartLoanTodayDataS2.Sum(las => las.LoansCount),
                    SumComp1 = SumComp12,
                    CountComp1 = CountComp12,
                    SumComp2 = SumComp22,
                    CountComp2 = CountComp22

                });
        }

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);

    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }
}
