﻿@page "/loansCharts"

@using B1.Data.ViewModels
@using B1.Data.Services
@using zCache
@using System.Reflection

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  httpContextAccessor


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>New loans</h1>

@if (ChartLoanDayData == null)
{

    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Patience is a virtue
    </p>

}
else
{
    <p>
        Today: @(ChartLoanDayData.Last().LoansAmountOut.ToString("#,##0")) / @(ChartLoanDayData.Last().LoansCount) = @(ChartLoanDayData.Last().LoansCount > 0 ? (ChartLoanDayData.Last().LoansAmountOut / ChartLoanDayData.Last().LoansCount).ToString("#,##0"):"n/a")
    </p>
    <p>
        Last 30 days average: @(ChartLoanDayData.Last().MA.ToString("#,##0")) / @(ChartLoanDayData.Last().MACount.ToString("#,##0")) = @(ChartLoanDayData.Last().MACount > 0 ? (ChartLoanDayData.Last().MA / ChartLoanDayData.Last().MACount).ToString("#,##0"):"n/a")
    </p>
    <DxChart Data=@ChartLoanDayData CustomizeSeriesPoint="@PreparePointLabel">

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>
        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartBarSeries Name="£ Loaned per Day" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy")) ValueField=@(s => s.LoansAmountOut) />
        @*<DxChartBarSeries Name="Amount Collected" Filter=@((LoanChartViewModel s) => s.Month.Month > 0) ArgumentField=@(s => s.Month.ToString("dd MMM yy")) ValueField=@(s => s.LoansAmountIn) />*@
        <DxChartLineSeries Name="Count" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy")) ValueField=@(s => s.LoansCount) Axis="CountAxis" />

        <DxChartLineSeries Name="£ Loaned 30MA" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy")) ValueField=@(s => s.MA) Color="@System.Drawing.Color.Gray">
            <DxChartSeriesPoint Visible="false" />
        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>Date: @context.Point.Argument</p>
                <p>@Convert.ToDecimal(context.Point.Value).ToString("#,##0.00")</p>


            </div>
        </DxChartTooltip>

    </DxChart>
}
<hr />
@if (ChartLoanWeekData == null)
{

    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Patience is a virtue
    </p>

}
else
{

    <DxChart Data=@ChartLoanWeekData>

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>
        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartBarSeries Name="£ Loaned per Week" Filter=@((LoanChartPerWeekViewModel s) => s.Week > 0) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy")) ValueField=@(s => s.LoansAmountOut) />
        @*<DxChartBarSeries Name="Amount Collected" Filter=@((LoanChartViewModel s) => s.Month.Month > 0) ArgumentField=@(s => s.Month.ToString("dd MMM yy")) ValueField=@(s => s.LoansAmountIn) />*@
        <DxChartLineSeries Name="Count" Filter=@((LoanChartPerWeekViewModel s) => s.Week > 0) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy")) ValueField=@(s => s.LoansCount) Axis="CountAxis" />

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>Date: @context.Point.Argument</p>
                <p>@Convert.ToDecimal(context.Point.Value).ToString("#,##0.00")</p>

                @*<p>Amout: @context.Point.Value</p>*@
            </div>
        </DxChartTooltip>

    </DxChart>
}
<hr />
@if (ChartLoanMonthData == null)
{

    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Patience is a virtue
    </p>

}
else
{
    <DxChart Data=@ChartLoanMonthData>

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>
        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartBarSeries Name="£ Loaned per Month" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("MMM yy")) ValueField=@(s => s.LoansAmountOut) />
        @*<DxChartBarSeries Name="Amount Collected" Filter=@((LoanChartViewModel s) => s.Month.Month > 0) ArgumentField=@(s => s.Month.ToString("MMM yy")) ValueField=@(s => s.LoansAmountIn) />*@
        <DxChartLineSeries Name="Count" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("MMM yy")) ValueField=@(s => s.LoansCount) Axis="CountAxis" />

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />

        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>Date: @context.Point.Argument</p>
                <p>@Convert.ToDecimal(context.Point.Value).ToString("#,##0.00")</p>

                @*<p>Amout: @context.Point.Value</p>*@
            </div>
        </DxChartTooltip>
    </DxChart>
}

}

@implements IDisposable
@code {

    private IEnumerable<LoanChartViewModel> ChartLoanDayData;
    private IEnumerable<LoanChartViewModel> ChartLoanMonthData;
    private IEnumerable<LoanChartPerWeekViewModel> ChartLoanWeekData;

    System.Timers.Timer timer = new System.Timers.Timer();



    protected override void OnInitialized()
    {
        Task.Run(() =>
        {
            ChartLoanDayData = LoanService.GetLoansPerDay(DateTime.Now.AddMonths(-2));

            ((List<LoanChartViewModel>)ChartLoanDayData).ForEach(l => l.MA = ChartLoanDayData.Where(x => x.TimeStamp < l.TimeStamp).TakeLast(30).DefaultIfEmpty(new LoanChartViewModel()).Average(l => l.LoansAmountOut));
            ((List<LoanChartViewModel>)ChartLoanDayData).ForEach(l => l.MACount = ChartLoanDayData.Where(x => x.TimeStamp < l.TimeStamp).TakeLast(30).DefaultIfEmpty(new LoanChartViewModel()).Average(l => Convert.ToDecimal(l.LoansCount)));

            ((List<LoanChartViewModel>)ChartLoanDayData).RemoveAll(d => d.TimeStamp < DateTime.Today.AddDays(-30));

            InvokeAsync(StateHasChanged);

            ChartLoanWeekData = LoanService.GetLoansPerWeek(DateTime.Now.AddMonths(-6));
            InvokeAsync(StateHasChanged);

            ChartLoanMonthData = LoanService.GetLoansPerMonth(DateTime.Now.AddYears(-1).AddDays(-DateTime.Now.Day + 1));
            InvokeAsync(StateHasChanged);

            timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 0) Refresh(); };
            timer.Interval = 1000;
            timer.Start();

        });

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() => 
                    MyObjects.Cache.AddObject(
                    
                        new EventLogItem(
                            EventLevelType.Information,
                            MethodBase.GetCurrentMethod(),
                            httpContextAccessor.HttpContext.User.Identity.Name)));
        }
    }

    private void Refresh()
    {

        var ChartLoanTodayData = LoanService.GetLoansPerSize(DateTime.Today, DataCache.Loans);

        if (ChartLoanTodayData.Any())
        {


            ChartLoanDayData.Last().LoansCount = ChartLoanTodayData.Sum(las => las.LoansCount);
            ChartLoanDayData.Last().LoansAmountOut = ChartLoanTodayData.Sum(las => las.LoansAmountOut);

            ChartLoanDayData = ChartLoanDayData.ToList();

        }

        InvokeAsync(StateHasChanged);

    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;
        //if (pointSettings.Point.SeriesName == "Count")
        //pointSettings.PointLabel.Visible = true;

        //if (pointSettings.Point.SeriesName == "£ Loaned" && DateTime.Parse((string)pointSettings.Point.Argument).Minute > 0)
        //{
        //    pointSettings.PointAppearance.Color = System.Drawing.Color.LightGray;
        //}

        //if (pointSettings.Point.SeriesName == "Count" && DateTime.Parse((string)pointSettings.Point.Argument).Minute > 0)
        //{
        //    pointSettings.PointLabel.BackgroundColor = System.Drawing.Color.Gray;
        //}

        if (pointSettings.Point.SeriesName == "£ Loaned per Day" && DateTime.Parse((string)pointSettings.Point.Argument).DayOfWeek == DayOfWeek.Sunday)
        {
            pointSettings.PointAppearance.Color = System.Drawing.ColorTranslator.FromHtml("#93bff1");
        }

    }
    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

}
