﻿@page "/loansTodayPerPlace"

@using B1.Data.ViewModels
@using B1.Data.Services
@using System.Threading


@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache


<h1>@Title @RefreshSymbol</h1>
<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">



        <DxTabs @bind-ActiveTabIndex="@TimeSpanTabIndex">
            <DxTab Text="Today" CssClass="tabs"></DxTab>
            <DxTab Text="Yesterday" CssClass="tabs"></DxTab>
            <DxTab Text="@thisWeek" CssClass="tabs"></DxTab>
            <DxTab Text="@lastWeek" CssClass="tabs"></DxTab>
            <DxTab Text="@thisMonth" CssClass="tabs"></DxTab>
            <DxTab Text="@lastMonth" CssClass="tabs"></DxTab>
            <DxTab Text="@thisYear" CssClass="tabs"></DxTab>

        </DxTabs>

    </div>

    <div class="flex-grow-1">
        &nbsp;
    </div>


</div>




@if (ChartLoanData == null)
{

    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Patience is a virtue
    </p>

}
else
{
    <DxChart Data=@ChartLoanData CustomizeSeriesPoint="@PreparePointLabel" CssClass="Chart">

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartBarSeries Name="£ Loaned" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Place) ValueField=@(s => s.LoansAmountOut) />

        <DxChartLineSeries Name="Count" Filter=@((LoanChartPerSizeViewModel s) => true) ArgumentField=@(s => s.Place) ValueField=@(s => s.LoansCount) Axis="CountAxis">

            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>

        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

    <p style="margin-top: 3em; border-bottom: 1px solid lightgray" />

    <DxChart Data=@ChartLoanData>
        <DxChartTitle Text="Loans (£1000s) per region " />
        <DxChartLegend Position="@RelativePosition.Outside" Orientation="@Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Right" />
        <DxChartDonutSeries ValueField="@((LoanChartPerSizeViewModel i) => Math.Round(i.LoansAmountOut/1000m,0))" ArgumentField="@(i => i.Place)" AggregationMethod="@Enumerable.Sum">
            <DxChartSeriesLabel Visible=" true" />
        </DxChartDonutSeries>
    </DxChart>

}
@implements IDisposable
@code {

    private List<LoanChartPerSizeViewModel> ChartLoanData;

    private string Title = "New loans per region";
    private string RefreshSymbol = "";

    private string thisWeek = "This week (" + DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1).ToString("dd MMM") + " - "
                                          + DateTime.Today.ToString("dd MMM") + ")";

    private string lastWeek = "Last week (" + DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) - 6).ToString("dd MMM") + " - "
                                            + DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek)).ToString("dd MMM") + ")";

    private string thisMonth = "This month (" + (new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).ToString("dd MMM") + " - "
                                              + DateTime.Today.ToString("dd MMM") + ")";

    private string lastMonth = "Last month (" + (new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).AddMonths(-1).ToString("dd MMM") + " - "
                                              + (new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).AddDays(-1).ToString("dd MMM") + ")";

    private string thisYear = "This year (" + DateTime.Today.Year.ToString() + ")";



    int timeSpanTabIndex = 0;
    int TimeSpanTabIndex
    {
        get => timeSpanTabIndex;
        set
        {
            timeSpanTabIndex = value;

            ChartLoanData = null;
            InvokeAsync(StateHasChanged);

            Task.Run(async () => await Refresh());
        }
    }

    System.Timers.Timer timer;

    protected override async Task OnInitializedAsync()
    {
        timer = new System.Timers.Timer();
        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 0) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;
        if (pointSettings.Point.SeriesName == "Count")
            pointSettings.PointLabel.Visible = true;
    }

    private async Task Refresh()
    {
        IEnumerable<Loan> loans = null;

        timer.Stop();

        switch (TimeSpanTabIndex)
        {
            case 0: //today
                ChartLoanData = LoanService.GetLoansPerPlace(DateTime.Today, DataCache.Loans);
                timer.Start();
                break;

            case 1: //yesterday
                loans = await LoanService.GetLoans(DateTime.Today.AddDays(-1), DateTime.Today);
                ChartLoanData = LoanService.GetLoansPerPlace(DateTime.MinValue, loans);
                break;

            case 2: //this week
                loans = await LoanService.GetLoans(DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1), DateTime.Now);
                ChartLoanData = LoanService.GetLoansPerPlace(DateTime.MinValue, loans);
                break;

            case 3: //last week
                loans = await LoanService.GetLoans(DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1 - 7), DateTime.Today.AddDays(-Convert.ToInt32(DateTime.Today.DayOfWeek) + 1));
                ChartLoanData = LoanService.GetLoansPerPlace(DateTime.MinValue, loans);
                break;

            case 4: //this month
                loans = await LoanService.GetLoans(new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1), DateTime.Now);
                ChartLoanData = LoanService.GetLoansPerPlace(DateTime.MinValue, loans);
                break;

            case 5: //last month
                loans = await LoanService.GetLoans((new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1)).AddMonths(-1), new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1));
                ChartLoanData = LoanService.GetLoansPerPlace(DateTime.MinValue, loans);
                break;

            case 6: //this year
                loans = await LoanService.GetLoans(new DateTime(DateTime.Today.Year, 1, 1), DateTime.Now);
                ChartLoanData = LoanService.GetLoansPerPlace(DateTime.MinValue, loans);
                break;

        }




        if (ChartLoanData.Count > 20)
        {
            var otherPlaces =
                new LoanChartPerSizeViewModel
                {
                    Place = "Other",
                    LoansAmountOut = ChartLoanData.Skip(20).Sum(las => las.LoansAmountOut),
                    LoansCount = ChartLoanData.Skip(20).Sum(las => las.LoansCount)
                };

            ChartLoanData = ChartLoanData.Take(20).ToList();
            ChartLoanData.Add(otherPlaces);
        }



        await InvokeAsync(StateHasChanged).ConfigureAwait(false);

    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

}
