﻿@page "/loansTodayPerHour"

@using B1.Data.ViewModels
@using B1.Data.Services

@using zCache
@using System.Reflection

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  httpContextAccessor

@inject LoanDataService LoanService
@inject LoanDataServiceCache DataCache

<h1>@Title</h1>
<div class="d-flex" style="width: 100%">
    <div class="justify-content-start">



        <DxTabs @bind-ActiveTabIndex="@TimeSpanTabIndex">
            
            <DxTab Text="Yesterday" CssClass="tabs"></DxTab>
            <DxTab Text="@(sameDayLastWeek)" CssClass="tabs"></DxTab>
            <DxTab Text="7 Days Average" CssClass="tabs"></DxTab>
            <DxTab Text="30 Days Average" CssClass="tabs"></DxTab>

        </DxTabs>

    </div>

    <div class="flex-grow-1">
        &nbsp;
    </div>


</div>


@if (ChartLoanTodayData == null)
{

    <p><em>Loading...</em></p>
}
else
{
    <DxChart Data=@ChartLoanTodayData CustomizeSeriesPoint="@PreparePointLabel" CssClass="Chart">

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>


        @*<DxChartTooltip>
                <div class="p-3">
                    <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                    <p>@(Convert.ToInt32(context.Point.Value).ToString("#,0"))</p>
                </div>
            </DxChartTooltip>*@


        <DxChartBarSeries Name="£ Avg" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.MA) Color="System.Drawing.Color.LightGray" />
        <DxChartBarSeries Name="£ Loaned" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.LoansAmountOut) />


        <DxChartLineSeries Name="Count Avg" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.MACount) Axis="CountAxis" Color="System.Drawing.Color.LightGray">
            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>
        </DxChartLineSeries>

        <DxChartLineSeries Name="Count" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.LoansCount) Axis="CountAxis" Color="@(System.Drawing.ColorTranslator.FromHtml("#009CE4"))">
            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>
        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

    <p style="margin-top: 3em; border-bottom: 1px solid lightgray" />
    <h2>Running totals</h2>

    <DxChart Data=@ChartLoanTodayDataRunningTotal CustomizeSeriesPoint="@PreparePointLabelTotal" CssClass="Chart">

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>


        @*<DxChartTooltip>
                <div class="p-3">
                    <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                    <p>@(Convert.ToInt32(context.Point.Value).ToString("#,0"))</p>
                </div>
            </DxChartTooltip>*@


        <DxChartAreaSeries Name="£ Avg Total" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.MA) Color="System.Drawing.Color.LightGray" />
        <DxChartBarSeries Name="£ Loaned Total" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.LoansAmountOut) />


        <DxChartLineSeries Name="Count Avg" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.MACount) Color="System.Drawing.Color.Gray" Axis="CountAxis">
            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>
        </DxChartLineSeries>

        <DxChartLineSeries Name="Count Total" Filter=@((LoanChartViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.LoansCount) Color="@(System.Drawing.ColorTranslator.FromHtml("#009CE4"))" Axis="CountAxis">

            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>

        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>
    <p style="margin-top: 3em; border-bottom: 1px solid lightgray" />
}
@implements IDisposable



@code {
    
    string sameDayLastWeek = "Last " + DateTime.Today.AddDays(-7).ToString("dddd");

    List<LoanChartViewModel> LoanAvgPerHour;

    int timeSpanTabIndex = 0;
    int TimeSpanTabIndex
    {
        get => timeSpanTabIndex;
        set
        {

            timeSpanTabIndex = value;

            LoanAvgPerHour = DataCache.GetLoanAvgPerHour(GetFirstDay(timeSpanTabIndex), GetLastDay(timeSpanTabIndex));
            Task.Run(async () => await Refresh());
        }
    }

    int GetFirstDay(int tabIndex)
    {

        switch (tabIndex)
        {
            case 0:
                return 1;

            case 1:
                return 7;

            case 2:
                return 7;

            case 3:
                return 30;

            default:
                return 1;

        }
    }
    int GetLastDay(int tabIndex)
    {

        switch (tabIndex)
        {
            case 0:
                return 0;

            case 1:
                return 6;

            case 2:
                return 0;

            case 3:
                return 0;

            default:
                return 1;

        }
    }

    private List<LoanChartViewModel> ChartLoanTodayData;
    private List<LoanChartViewModel> ChartLoanTodayDataRunningTotal;

    private string Title = "Today's new loans per hour compared to:";



    System.Timers.Timer timer = new System.Timers.Timer();

    protected override async Task OnInitializedAsync()
    {
        LoanAvgPerHour = DataCache.GetLoanAvgPerHour(GetFirstDay(timeSpanTabIndex), GetLastDay(timeSpanTabIndex));

        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 0) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        //ChartLoanTodayData = LoanService.GetLoansPerHour(DateTime.Now.AddHours(-36).AddMinutes(-DateTime.Now.Minute).AddSeconds(-DateTime.Now.Second).AddMilliseconds(-DateTime.Now.Millisecond), DataCache.Loans, DataCache.LoanAvgPerHour);
        //ChartLoanTodayData = LoanService.GetLoansPerHour(DateTime.Today, DataCache.Loans, DataCache.LoanAvgPerHour);

        await base.OnInitializedAsync();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() => 
                    MyObjects.Cache.AddObject(
                    
                        new EventLogItem(
                            EventLevelType.Information,
                            MethodBase.GetCurrentMethod(),
                            httpContextAccessor.HttpContext.User.Identity.Name)));
        }
    }

    
    protected void PreparePointLabel(ChartSeriesPointCustomizationSettings pointSettings)
    {
        //double value = (double)pointSettings.Point.Value;
        if (pointSettings.Point.SeriesName == "Count" || pointSettings.Point.SeriesName == "Count Avg")
            pointSettings.PointLabel.Visible = true;
        if (pointSettings.Point.SeriesName == "Count Avg")
            pointSettings.PointAppearance.Color = System.Drawing.Color.Gray;
            

    }
    protected void PreparePointLabelTotal(ChartSeriesPointCustomizationSettings pointSettings)
    {

        if (pointSettings.Point.SeriesName == "£ Loaned Total" || pointSettings.Point.SeriesName == "Count Total")

            if (DateTime.Parse((string)pointSettings.Point.Argument).Hour > DateTime.Now.Hour)
                pointSettings.PointAppearance.Visible = false;

            else if (pointSettings.Point.SeriesName == "£ Loaned Total")
            {
                var tot = ChartLoanTodayDataRunningTotal.Single(x => x.TimeStamp.Hour == DateTime.Parse((string)pointSettings.Point.Argument).Hour).MA;
                if (Convert.ToDecimal(pointSettings.Point.Value) >= tot)
                    pointSettings.PointAppearance.Color = System.Drawing.ColorTranslator.FromHtml("#009CE4");
                else
                {
                    if (DateTime.Parse((string)pointSettings.Point.Argument).Hour < DateTime.Now.Hour)
                        pointSettings.PointAppearance.Color = System.Drawing.Color.Red;
                    else
                        pointSettings.PointAppearance.Color = System.Drawing.Color.Orange;
                }
            }
            else if (pointSettings.Point.SeriesName == "Count Total")
            {
                var tot = ChartLoanTodayDataRunningTotal.Single(x => x.TimeStamp.Hour == DateTime.Parse((string)pointSettings.Point.Argument).Hour).MACount;
                if (Convert.ToDecimal(pointSettings.Point.Value) >= tot)
                    pointSettings.PointAppearance.Color = System.Drawing.ColorTranslator.FromHtml("#009CE4");
                else
                {
                    if (DateTime.Parse((string)pointSettings.Point.Argument).Hour < DateTime.Now.Hour)
                        pointSettings.PointAppearance.Color = System.Drawing.Color.Red;
                    else
                        pointSettings.PointAppearance.Color = System.Drawing.Color.Orange;
                }
            }

    }

    private async Task Refresh()
    {

        //ChartLoanTodayData = LoanService.GetLoansPerHour(DateTime.Now.AddHours(-36).AddMinutes(-DateTime.Now.Minute).AddSeconds(-DateTime.Now.Second).AddMilliseconds(-DateTime.Now.Millisecond), DataCache.Loans, DataCache.LoanAvgPerHour);
        ChartLoanTodayData = LoanService.GetLoansPerHour(DateTime.Today, DataCache.Loans, LoanAvgPerHour);


        ChartLoanTodayDataRunningTotal = new List<LoanChartViewModel>();

        foreach (var h in LoanAvgPerHour)
        {
            ChartLoanTodayDataRunningTotal.Add(new LoanChartViewModel
            {

                TimeStamp = h.TimeStamp,
                MA = LoanAvgPerHour.Where(x => x.TimeStamp <= h.TimeStamp).Sum(x => x.LoansAmountOut),
                MACount = LoanAvgPerHour.Where(x => x.TimeStamp <= h.TimeStamp).Sum(x => x.LoansCount),
                LoansAmountOut = ChartLoanTodayData.Where(x => x.TimeStamp <= h.TimeStamp).Sum(x => x.LoansAmountOut),
                LoansCount = ChartLoanTodayData.Where(x => x.TimeStamp <= h.TimeStamp).Sum(x => x.LoansCount)
            });
        }

        //if (ChartLoanTodayData.Any())
        //{
        //    var last = ChartLoanTodayData.Last();

        //    if (last.TimeStamp.Hour == DateTime.Now.Hour && DateTime.Now.Minute > 0)

        //        ChartLoanTodayData.Add(

        //            new LoanChartViewModel()
        //            {
        //                TimeStamp = DateTime.Now,
        //                LoansAmountOut = last.LoansAmountOut / Convert.ToDecimal(DateTime.Now.Minute) * 60m,
        //                LoansCount = Convert.ToInt32(Convert.ToDecimal(last.LoansCount) / Convert.ToDecimal(DateTime.Now.Minute) * 60m)
        //            });
        //}


        await InvokeAsync(StateHasChanged);
    }

    public double RefreshTime(DateTime d1, DateTime d2)
    {

        System.TimeSpan diffResult = d2.Subtract(d1);

        return diffResult.TotalMilliseconds;
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }
}
