﻿@page "/paymentsPerAgent"

@using B1.Data.RePay
@using B1.Data.Services

@inject PaymentDataServiceCache PaymentCacheService
@inject PaymentDataService PaymentService

<p>
    @if (recentPayments != null)
    {
        foreach (var p in recentPayments)
        {
            if (p.Amount < 250m)
            {
                <span class="ticker-small">@p.Date.ToString("HH:mm") @p.User.Substring(0, Math.Min(p.User.Length, 8)).ToLower(): @p.Amount.ToString("£#,##0.00")</span>
            }
            else
            {
                <span class="ticker-large">@p.Date.ToString("HH:mm") @p.User.Substring(0, Math.Min(p.User.Length, 8)).ToLower(): @p.Amount.ToString("£#,##0.00")</span>
            }
        }
    }
</p>

<h1>Today's collections per agent</h1>

@if (PaymentsPerAgentToday == null)
{
    <p><em>Loading...</em></p>
}
else
{
<p>Total £ collected today: @PaymentsPerAgentToday.Sum(p => p.Sum).ToString("N0") + @PaymentsForSystemPerHour.Sum(p => p.Sum).ToString("N0") = @((PaymentsPerAgentToday.Sum(p => p.Sum) + PaymentsForSystemPerHour.Sum(p => p.Sum)).ToString("N0"))</p>
    <DxChart Data=@PaymentsPerAgentToday>
        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>@(Convert.ToInt32(context.Point.Value).ToString("#,0"))</p>
            </div>
        </DxChartTooltip>

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartBarSeries Name="£ Collected" Filter=@((PaymentAgentViewModel s) => true) ArgumentField=@(s => s.Agent) ValueField=@(s => s.Sum) />
        <DxChartLineSeries Name="Count" Filter=@((PaymentAgentViewModel s) => true) ArgumentField=@(s => s.Agent) ValueField=@(s => s.Count) Axis="CountAxis">

            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>

        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

    <hr />
    <DxChart Data=@PaymentsForSystemPerHour>

        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>@(Convert.ToInt32(context.Point.Value).ToString("#,0"))</p>
            </div>
        </DxChartTooltip>

        <DxChartValueAxis Name="TotalAxis" Position="@HorizontalEdge.Left">
            <DxChartAxisTitle Text="£ Amount"></DxChartAxisTitle>
        </DxChartValueAxis>

        <DxChartValueAxis Name="CountAxis" Position="@HorizontalEdge.Right">
            <DxChartAxisTitle Text="Count"></DxChartAxisTitle>
        </DxChartValueAxis>


        <DxChartBarSeries Name="£ Collected" Filter=@((PaymentAgentViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.Sum) />

        <DxChartLineSeries Name="Count" Filter=@((PaymentAgentViewModel s) => true) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.Count) Axis="CountAxis">

            <DxChartSeriesLabel Position="@RelativePosition.Outside">
                <DxChartSeriesLabelConnector Visible="true" Width="3" />
            </DxChartSeriesLabel>

        </DxChartLineSeries>

        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
    </DxChart>

}
@code {


    private IEnumerable<PaymentAgentViewModel> PaymentsPerAgentToday;

    private IEnumerable<PaymentAgentViewModel> PaymentsForSystemPerHour;
    private IEnumerable<Payment> recentPayments;



    System.Timers.Timer timer = new System.Timers.Timer();

    protected override async Task OnInitializedAsync()
    {
        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 0) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    private async Task Refresh()
    {
        recentPayments = PaymentCacheService.Payments.Where(p => p.User != "system").Reverse().Take(10);
        PaymentsPerAgentToday = PaymentService.GetPaymentsPerAgent(PaymentCacheService.Payments, DateTime.Today);
        PaymentsForSystemPerHour = PaymentService.GetPaymentsForSystemPerHour(PaymentCacheService.Payments, DateTime.Today);

        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }


}
