﻿@page "/paymentsCharts"

@using B1.Data.ViewModels
@using B1.Data.Services
@inject PaymentDataService PaymentService

<h1>Payments</h1>



@if (ChartPaymentsMonthsData == null)
{
    <p style="text-align: center; padding: 2em">
        <img src="/image/loading.gif" /><br />Patience is a virtue
    </p>

}
else
{


    <DxChart Data=@ChartPaymentsHoursData>
        <DxChartBarSeries Name="Per Hour" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy HH:mm")) ValueField=@(s => s.LoansAmountIn) />
        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>Date: @context.Point.Argument</p>
                <p>@Convert.ToDecimal(context.Point.Value).ToString("#,##0.00")</p>

                @*<p>Amout: @context.Point.Value</p>*@
            </div>
        </DxChartTooltip>

    </DxChart>
    <hr />
    <DxChart Data=@ChartPaymentsDaysData>
        <DxChartBarSeries Name="Per Day" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("dd MMM yy")) ValueField=@(s => s.LoansAmountIn) />
        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>Date: @context.Point.Argument</p>
                <p>@Convert.ToDecimal(context.Point.Value).ToString("#,##0.00")</p>

                @*<p>Amout: @context.Point.Value</p>*@
            </div>
        </DxChartTooltip>

    </DxChart>
    <hr />
    <DxChart Data=@ChartPaymentsMonthsData>
        <DxChartBarSeries Name="Per Month" Filter=@((LoanChartViewModel s) => s.TimeStamp.Month > 0) ArgumentField=@(s => s.TimeStamp.ToString("MMM yy")) ValueField=@(s => s.LoansAmountIn) />
        <DxChartLegend Position=@RelativePosition.Outside Orientation="@Orientation.Vertical" HorizontalAlignment=@HorizontalAlignment.Right />
        <DxChartTooltip>
            <div class="p-3">
                <p class="text-align-center"><b>@context.Point.SeriesName</b></p>
                <p>Date: @context.Point.Argument</p>
                <p>@Convert.ToDecimal(context.Point.Value).ToString("#,##0.00")</p>

                @*<p>Amout: @context.Point.Value</p>*@
            </div>
        </DxChartTooltip>

    </DxChart>

}
@code {


    private IEnumerable<LoanChartViewModel> ChartPaymentsMonthsData;
    private IEnumerable<LoanChartViewModel> ChartPaymentsDaysData;
    private IEnumerable<LoanChartViewModel> ChartPaymentsHoursData;


    protected override void OnInitialized()
    {
        Task.Run(() =>
        {
            ChartPaymentsMonthsData = PaymentService.GetPaymentsPerMonth(DateTime.Now.AddDays(-360));
            ChartPaymentsDaysData = PaymentService.GetPaymentsPerDay(DateTime.Now.AddDays(-30));
            ChartPaymentsHoursData = PaymentService.GetPaymentsPerHour(DateTime.Now.AddDays(-1));
            InvokeAsync(StateHasChanged);
        });




    }
}
