﻿@page "/paymentsPerAgentPerHour"

@using B1.Data.RePay
@using B1.Data.Services

@inject PaymentDataServiceCache PaymentCacheService
@inject PaymentDataService PaymentService

<p>
    @if (recentPayments != null)
    {
        foreach (var p in recentPayments)
        {
            if (p.Amount < 250m)
            {
                <span class="ticker-small">@p.Date.ToString("HH:mm") @p.User.Substring(0, Math.Min(p.User.Length, 8)).ToLower(): @p.Amount.ToString("£#,##0.00")</span>
            }
            else
            {
                <span class="ticker-large">@p.Date.ToString("HH:mm") @p.User.Substring(0, Math.Min(p.User.Length, 8)).ToLower(): @p.Amount.ToString("£#,##0.00")</span>
            }
        }
    }
</p>

<h1>Today's collections per agent per hour</h1>

@if (PaymentsDataPerAgentPerHour == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <DxPivotGrid Data="@PaymentsDataPerAgentPerHour">
        <DxPivotGridField Field="@nameof(PaymentAgentViewModel.Agent)" SortOrder="@PivotGridSortOrder.Ascending" Area="@PivotGridFieldArea.Row"></DxPivotGridField>
        <DxPivotGridField Field="@nameof(PaymentAgentViewModel.TimeStamp)" Area="@PivotGridFieldArea.Column" Caption="Hour">
            <HeaderTemplate>@string.Format("{0:HH}", context)</HeaderTemplate>
        </DxPivotGridField>

        <DxPivotGridField Field="@nameof(PaymentAgentViewModel.Sum)" Area="@PivotGridFieldArea.Data" SummaryType="@PivotGridSummaryType.Sum">
            <DataTemplate>@string.Format("{0:N0}", context)</DataTemplate>
        </DxPivotGridField>

    </DxPivotGrid>
}
@code {


    private IEnumerable<Payment> recentPayments;

    private IEnumerable<PaymentAgentViewModel> PaymentsDataPerAgentPerHour;

    System.Timers.Timer timer = new System.Timers.Timer();

    protected override async Task OnInitializedAsync()
    {
        timer.Elapsed += (s, ev) => { if (DateTime.Now.Second == 0) Refresh().Wait(); };
        timer.Interval = 1000;
        timer.Start();

        await Refresh();

        await base.OnInitializedAsync();
    }

    private async Task Refresh()
    {
        recentPayments = PaymentCacheService.Payments.Where(p => p.User != "system").Reverse().Take(10);
        PaymentsDataPerAgentPerHour = PaymentService.GetPaymentsPerAgentPerHour(PaymentCacheService.Payments, DateTime.Today);
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }


}
