﻿@using B1.Data.Services
@inject LoanDataServiceCache LoanService

<div style="padding-top: 7px;">
    <b>@currentTime.ToString("dd MMMM yyyy")</b>
</div>
<div style="font-size: 2em;">
    @currentTime.ToString("HH:mm:")<span style="color:red">@currentTime.ToString("ss")</span>
</div>
<div style="font-size: 0.75em;">
    @LoanService.Loans.Count (@LoanService.LoansIn - @LoanService.LoansOut) : @LoanService.LoanApplications.Count (@LoanService.LoanApplicationsIn - @LoanService.LoanApplicationsOut)
</div>



@implements IDisposable
@code {
    [Parameter]
    public string FormatString { get; set; } = "HH:mm:ss";

    [Parameter]
    public string Message { get; set; }

    DateTime currentTime { get; set; } = DateTime.Now.ToLocalTime();
    System.Timers.Timer timer;



    protected override void OnInitialized()
    {


        timer = new System.Timers.Timer();
        timer.Elapsed += (s, ev) =>
        {
            currentTime = DateTime.Now.ToLocalTime();
        //this.InvokeAsync(() => StateHasChanged());
        InvokeAsync(StateHasChanged);
        };
        timer.Interval = 1000;
        timer.Start();

        base.OnInitialized();
    }

    public void Dispose()
    {
        timer.Stop();
        timer = null;
    }

}
