﻿@inherits LayoutComponentBase
@using B1.Data.Services
@using zCache

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  httpContextAccessor


<div class="sidebar">
    <NavMenu />
    <div style="position: absolute;
        bottom: 0;
        text-align: center;
        background-color: #009CE4;
        color: white;
        width: 100%;
        border-top: 1px solid gray;">
        <Clock Message="Timing is everything!" FormatString="HH:mm:ss" />
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
    </div>
    <AuthorizeView>
        @if (context.User.Claims.Any(c => c.Value == "S-1-5-21-3015780844-325828545-521064977-1305") || context.User.Claims.Any(c => c.Value == "S-1-5-21-3015780844-325828545-521064977-1577")) // Team.IT or Reporting
        {
            

            <div class="content px-4">
                @Body
            </div>
        }
        else
        {
            <div class="content px-4">
                <h2>Sorry, not authorised</h2>
            </div>
        }
    </AuthorizeView>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Run(() => 
                    MyObjects.Cache.AddObject(
                        new EventLogItem(
                            EventLevelType.Information,
                            "Login",
                            httpContextAccessor.HttpContext.User.Identity.Name)));
        }

    }
}
