﻿

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="\"><img src="/image/Loans2Go.png" style="width:100%" /></a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" id="vmenu"
     style="overflow-y: auto; height: calc(100% - 150px)">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            &nbsp;
        </li>

        @*<li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-1">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loanApplicationsMoreLess">
                <span class="oi oi-account-login" aria-hidden="true"></span> Loan Applications L1
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loanApplicationsMoreLessPerSource">
                <span class="oi oi-account-login" aria-hidden="true"></span> Loan Applications L2
            </NavLink>
        </li>

        @*<li class="nav-item px-1">
            <NavLink class="nav-link" href="loanApplicationsLastFewHours">
                <span class="oi oi-account-login" aria-hidden="true"></span> Apps (per source / min)
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loanApplicationsLastFewDays">
                <span class="oi oi-account-login" aria-hidden="true"></span> Apps (per source / hour)
            </NavLink>
        </li>*@

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loanApplications">
                <span class="oi oi-account-login" aria-hidden="true"></span> Apps (totals per min)
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loanApplicationsLast24Hours">
                <span class="oi oi-account-login" aria-hidden="true"></span> Apps (totals per hour)
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loanApplicationsState">
                <span class="oi oi-account-login" aria-hidden="true"></span> Apps (per date / state)
            </NavLink>
        </li>



        <li class="nav-item px-3">
            &nbsp;
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loansTodayPerHour">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> New Loans per Hour
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loansTodayPerSize">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> New Loans per Size
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loansTodayPerSource">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> New Loans per Source
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loansTodayPerPlace">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> New Loans per Region
            </NavLink>
        </li>


        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loansCharts">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> New Loans (D/W/M)
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loansTimelineWithSource">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> New Loans Timeline
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="loans">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> Recent Loans
            </NavLink>
        </li>

        <li class="nav-item px-3">
            &nbsp;
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="paymentsPerAgent">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Payments per Agent
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="paymentsPerAgentPerHour">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Payments per Hour
            </NavLink>
        </li>

        <li class="nav-item px-1">
            <NavLink class="nav-link" href="paymentsCharts">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Payments (H/D/M)
            </NavLink>
        </li>

        <AuthorizeView>
            @if (context.User.Identity.Name == @"AD\z.jevtic")
            {
                <li class="nav-item px-3">
                    &nbsp;
                </li>

                <li class="nav-item px-1">
                    <NavLink class="nav-link" href="eventLog">
                        <span class="oi  oi-align-left" aria-hidden="true"></span> Event Log
                    </NavLink>
                </li>
            }
        </AuthorizeView>

    </ul>

</div>
@*<DxTreeView AllowSelectNodes="true"
                SelectionChanged="@SelectionChanged" CssClass="white">
        <Nodes>
            <DxTreeViewNode Text="Applications">
                <Nodes>
                    <DxTreeViewNode Text="Last hour" />
                    <DxTreeViewNode Text="Last 24 hours" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode Text="Loans">
                <Nodes>
                    <DxTreeViewNode Text="Per hour" NavigateUrl="loansTodayPerHour" />
                    <DxTreeViewNode Text="Per size" NavigateUrl="loansTodayPerSize" />
                    <DxTreeViewNode Text="Day/Week/Month" NavigateUrl="loansCharts" />
                </Nodes>
            </DxTreeViewNode>
        </Nodes>
    </DxTreeView>*@

@code  {
    string SelectedGroup = "none";

    protected void SelectionChanged(TreeViewNodeEventArgs e)
    {
        //SelectedGroup = e.NodeInfo.Text;
        //InvokeAsync(StateHasChanged);
    }


    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
